<div class="SDSFareRangeWidget" ng-if="isAnyDataToDisplayAvailable() && showFareRangeToCustomer()">
    <alert type="success" ng-hide="closed" close="closed=1">

        <div class="panel-heading">
            Others paid on average <strong>{{::fareRangeSummary.fareDataForRequestedDates.MedianFare | currency}}</strong> for this trip.

            <a href="" ng-click="detailsShown = !detailsShown">Details</a>
        </div>
        <div collapse="!detailsShown" class="panel-body">
                <p>
                    For the specified travel dates others paid on average {{::fareRangeSummary.fareDataForRequestedDates.MedianFare | currency}}, while the maximum was {{::fareRangeSummary.fareDataForRequestedDates.MaximumFare | currency}}.
                </p>

                <p>Based on historical data of
                    <span ng-switch="fareRangeSummary.fareDataForRequestedDates.Count"><!-- web service characteristics translated directly in the view, not in controller, not to overcomplicate -->
                        <span ng-switch-when="Low">less than {{::1000 | number}}</span>
                        <span ng-switch-when="Medium">between {{::1000 | number}} and {{10000 | number}}</span>
                        <span ng-switch-when="High">more than {{::10000 | number}}</span>
                    </span>
                    tickets, for travels starting between {{::requestedRange.start | amDateFormat:'D MMM'}} and {{::requestedRange.end | amDateFormat:'D MMM'}}, and same length of stay,
                    the most commonly paid price was {{::fareRangeSummary.overallMedianFare | currency}}, while highest was {{::fareRangeSummary.overallMaximumFare | currency}}.
                </p>
        </div>

    </alert>
</div>