<itinerary-summary-price-per-stops-per-airline summary="summaryPerStopsPerAirline" ng-if="isAnyDataToDisplayAvailable()"></itinerary-summary-price-per-stops-per-airline>

<div class="panel panel-default" ng-if="anyBusinessErrorMessagesPresent()">
    <div class="panel-heading">
            <h4 class="panel-title">
                No options found for {{searchCriteriaDepartureAirport | airportFullName}} to {{searchCriteriaArrivalAirport | airportFullName}}
            </h4>
            <div>
                <ul>
                    <li ng-repeat="message in businessErrorMessages"><p class="text-danger">{{message}}</p></li>
                </ul>
            </div>
    </div>
</div>

<div class="panel panel-default" ng-if="isAnyDataToDisplayAvailable()">

    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-3">
                <strong>{{itineraries.size()}} options found for {{searchCriteriaDepartureAirport | airportFullName}} to {{searchCriteriaArrivalAirport | airportFullName}}</strong>
            </div>

            <div class="col-lg-6">
                <tabset>
                    <tab heading="Cheapest: {{bestItinerariesSummary.cheapest.totalFareAmount | currency:bestItinerariesSummary.cheapest.totalFareCurrency}}">
                        <itinerary-short-summary itinerary="bestItinerariesSummary.cheapest"></itinerary-short-summary>
                    </tab>
                    <tab heading="Best: {{bestItinerariesSummary.best.totalFareAmount | currency:bestItinerariesSummary.best.totalFareCurrency}}">
                        <itinerary-short-summary itinerary="bestItinerariesSummary.best"></itinerary-short-summary>
                    </tab>
                    <tab heading="Shortest: {{bestItinerariesSummary.shortest.totalFareAmount | currency:bestItinerariesSummary.shortest.totalFareCurrency}}">
                        <itinerary-short-summary itinerary="bestItinerariesSummary.shortest"></itinerary-short-summary>
                    </tab>
                </tabset>
            </div>

            <div class="col-lg-3">
                <input-sort-by class="pull-right"
                               available-sort-criteria="sortCriteria.availableSortCriteria"
                               selected-first-sort-criterion="selectedFirstCriterion"
                               on-sorting-criteria-changed="onSortingCriteriaChanged()"
                               label="Sort by">
                </input-sort-by>
            </div>
        </div>
    </div>

    <div class="panel-body"><!-- TODO bootlint col- must be inside contrainer. But when container added then this div expands to full width-->
        <ul class="list-unstyled SDSTopLevelList">
            <li class="row" ng-repeat="itinerary in itineraries.getPermittedItineraries()
                                            | sortByCriteria:sortCriteria.getCurrentSortCriteria()
                                            | startFrom: (paginationSettings.currentPage - 1)*itemsPerPage | limitTo: itemsPerPage">

                <!--<div class="row">-->
                    <ul class="SDSLegList list-unstyled col-lg-9">
                        <li ng-repeat="leg in itinerary.legs">
                            <ul class="SDSLegSummary list-inline list-unstyled">
                                <li class="SDSTravelDateLong">{{leg.getLegDepartureDateTime() | amDateFormat: 'ddd, DD MMM' }}</li><!-- format: Sun, 05 Dec -->
                                <li class="SDSAirport badge SDSBadgeInfo">{{leg.getLegDepartureAirport()}}</li>
                                <li class="SDSTravelTime">{{leg.getLegDepartureDateTime() | amDateFormat: 'HH:mm'}}</li><!-- format: 14:34 -->
                                <li class="SDSIconAirplaneArrow"></li>
                                <li class="SDSAirport badge SDSBadgeInfo">{{leg.getLegArrivalAirport()}}</li>
                                <li class="SDSTravelTime">{{leg.getLegArrivalDateTime() | amDateFormat: 'HH:mm'}}</li>
                            </ul>
                            <ul class="list-group" ng-show="flightDetailsShown">
                                <li class="list-group-item" ng-repeat="flight in leg.segments">
                                    <ul class="list-unstyled">
                                        <li>
                                            <strong>
                                                <img class="SDSAirlineLogo" ng-src="../widgets/img/airlineLogos/{{flight.marketingAirline}}.PNG"
                                                     fallback-src="../widgets/img/airlineLogos/generic_airline.PNG">
                                                {{flight.marketingAirline}} {{flight.marketingFlightNumber}} {{flight.marketingAirline | airlineFullName}}
                                            </strong>
                                        </li>
                                        <li>
                                            <ul class="SDSFlightDepartureOrArrival list-inline">
                                                <li class="SDSLabelForTravelDate">Depart:</li>
                                                <li class="SDSTravelTime">{{flight.departureDateTime | amDateFormat: 'HH:mm'}}</li>
                                                <li class="SDSAirport badge SDSBadgeInfo">{{flight.departureAirport}}</li>
                                                <li>{{flight.departureAirport | airportFullName}}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="SDSFlightDepartureOrArrival list-inline">
                                                <li class="SDSLabelForTravelDate">Arrive:</li>
                                                <li class="SDSTravelTime">{{flight.arrivalDateTime | amDateFormat: 'HH:mm'}}</li>
                                                <li class="SDSAirport badge SDSBadgeInfo">{{flight.arrivalAirport}}</li>
                                                <li>{{flight.arrivalAirport | airportFullName}}</li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="SDSPriceSummary col-lg-3">
                            <div class="pull-left">
                                <a href="" ng-click="flightDetailsShown = !flightDetailsShown">Flight Details</a>
                            </div>
                            <div>
                                <ul class="list-unstyled pull-right">
                                    <li>Total price: <strong >{{itinerary.totalFareAmount | currency:itinerary.totalFareCurrency}}</strong></li>
                                    <li><a href="" ng-click="priceDetailsExpanded = !priceDetailsExpanded" ng-hide="priceDetailsExpanded">Price Details</a></li>
                                    <li ng-show="priceDetailsExpanded" ng-click="priceDetailsExpanded = !priceDetailsExpanded">Base fare: {{itinerary.baseFareAmount | currency:itinerary.baseFareCurrency}}</li>
                                    <li ng-show="priceDetailsExpanded" ng-click="priceDetailsExpanded = !priceDetailsExpanded">Taxes: {{itinerary.totalTaxAmount | currency:itinerary.taxCurrency}}</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="SDSTopBuffer"></div>
                            <button type="button" class="SDSCheckoutButton btn btn-primary btn-sm pull-right">Select</button>
                    </div>
            </li>
        </ul>
    </div>

    <div class="panel-footer">
        <pagination class="pagination-sm pull-right" total-items="itineraries.size()" items-per-page="itemsPerPage" ng-model="paginationSettings.currentPage" boundary-links="true" rotate="false"></pagination>
        <div class="clearfix"></div>
        <!-- TODO In mobile versions it should be less than 10 items per page-->
    </div>

</div>