<div class="SDSLeadPriceChart panel panel-default" ng-if="isAnyDataToDisplayAvailable() || anyBusinessErrorMessagesPresent()">

    <div class="panel-heading text-center">
        <h4 class="panel-title">Lead Prices</h4>
    </div>

    <div class="panel-body">
        <h5>Prices from <em>{{departureAirport | airportFullName}}</em> to <em>{{arrivalAirport| airportFullName}}</em>,
            from <strong>{{minDateAndPricePair.totalFareAmount | currency}}</strong> at <strong>{{minDateAndPricePair.date | amDateFormat:'D MMM'}}</strong>
        </h5>

        <canvas></canvas>

        <nav>
            <ul class="pager"><!-- todo refactor it into pager component from angular-ui ?? -->
                <li class="previous"><a href="" ng-if="prevLinkActive" ng-click="onEarlierRequested()">EARLIER</a></li>
                <li class="previous disabled SDSInactive"><a href="" ng-if="!prevLinkActive" ng-click="onEarlierRequested()">EARLIER</a></li>

                <li class="next"><a href="" ng-if="nextLinkActive" ng-click="onLaterRequested()">LATER</a></li>
                <li class="next disabled SDSInactive"><a href="" ng-if="!nextLinkActive" ng-click="onLaterRequested()">LATER</a></li>
            </ul>
        </nav>
    </div>

    <div class="panel-body" ng-show="anyBusinessErrorMessagesPresent()">
        <h5>
            No prices found for <em>{{departureAirport | airportFullName}}</em> to <em>{{arrivalAirport| airportFullName}}</em>
        </h5>
    </div>

</div>