<div ng-show="filterInstance.filterInitialized">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div ng-click="filterContentCollapsed =! filterContentCollapsed">
                <span ng-if="filterContentCollapsed" class="glyphicon glyphicon-collapse-up"></span>
                <span ng-if="!filterContentCollapsed" class="glyphicon glyphicon-collapse-down"></span>
                {{::filterInstance.label}}
            </div>
        </div>

        <div class="panel-body" ng-hide="filterContentCollapsed">

            <div ng-if="filterType === 'discrete' || filterType === 'discreteList'">
                <div class="checkbox" ng-repeat="i in filterInstance.selectableValues">
                    <label class="SDSDiscreteFilterValueLabel" for="{{::i.filterablePropertyName}}_{{i.propertyValue}}">
                        <input type="checkbox" id="{{::i.filterablePropertyName}}_{{i.propertyValue}}" checked="checked" ng-model="i.permitted" ng-change="permittedValuesChanged()">
                            <span>{{i.propertyValue | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}} ({{i.count}})</span>
                        <span class="pull-right">{{i.minPrice | currency:undefined:0}}</span>
                    </label>
                </div>
            </div>

            <div ng-if="filterType === 'boolean'">
                <div class="checkbox">
                    <label for="{{::filterInstance.filterablePropertyName}}">
                        <input type="checkbox" id="{{::filterInstance.filterablePropertyName}}" ng-checked="filterInstance.isRequired" ng-model="filterInstance.isRequired" ng-change="permittedValuesChanged()">
                        {{::filterInstance.label}}
                    </label>
                </div>
            </div>

            <div ng-if="filterType === 'range' || filterType === 'rangeDateTime'">
                <span class="top-left">
                    <span ng-if="filterType === 'range'"><!-- todo this if else would go away if we define filter composition operator and pass composition here from parent directive-->
                        {{filterInstance.minConstraint | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}}
                    </span>
                    <span ng-if="filterType === 'rangeDateTime'">
                        {{filterInstance.minConstraint | unixTimeToMoment | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}}
                    </span>
                </span>
                <span class="pull-right">
                    <span ng-if="filterType === 'range'">
                        {{filterInstance.maxConstraint | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}}
                    </span>
                    <span ng-if="filterType === 'rangeDateTime'">
                        {{filterInstance.maxConstraint | unixTimeToMoment | applyFilter:valuesDisplayFilter:valuesDisplayFilterOptions}}
                    </span>
                </span><!--todo-->
                <div range-slider
                     min="filterInstance.minConstraint" max="filterInstance.maxConstraint"
                     model-min="filterInstance.min" model-max="filterInstance.max"
                     prevent-equal-min-max="true" show-values="true" attach-handle-values="true" ng-attr-pin-handle="{{canFilterOnlyOnMaxValue && 'min' || canFilterOnlyOnMinValue && 'max' || undefined}}"
                     filter="{{valuesDisplayFilter}}" filter-options="{{valuesDisplayFilterOptions}}"
                     on-handle-up="permittedValuesChanged()"></div>
            </div>

        </div>
    </div>
</div>
