a:hover .info.light {
    width: 62px;
    background: transparent url(../images/lightrtbhouse-link.png) no-repeat center left;
}

a .info.light {
    z-index: 200;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: transparent url(../images/lightinfo.png) no-repeat center center;
    top: 2px;
    left: 2px;
}

a:hover .info {
    width: 62px;
    background: transparent url(../images/rtbhouse-link.png) no-repeat center left;
}

a .info {
    z-index: 200;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: transparent url(../images/info.png) no-repeat center center;
    top: 2px;
    left: 2px;
}

a.right .info {
    right: 2px;
    background-position-x: 8px;
}

a.bottom .info {
    bottom: 2px;
    background-position-y: 10px;
}

a.bottom:hover .info {
    background-position-y: 10px;
}

a:hover #infohover {
    display: block
}

a:hover #info,
a:hover .ribbon-wrapper-green,
a:hover
#containerPrice,
a:hover
#containerPrice1,
a:hover
#containerPrice2,
a:hover
#containerPrice3,
a:hover
#containerPrice4,
a:hover
#containerPrice5,
a:hover
#containerPrice6,
a:hover
#containerPrice7,
a:hover
#containerPrice8,
a:hover
#containerPrice9,
a:hover
#containerPrice10,
a:hover
#containerPrice11,
a:hover
#containerPrice12 {
    display: none
}

#button:hover,
#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover,
#button5:hover,
#button6:hover,
#button7:hover,
#button8:hover,
#button9:hover,
#button10:hover,
#button11:hover,
#button12:hover {

    background: rgb(207, 97, 0);
    background: -webkit-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: -moz-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: -ms-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: -o-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
}

a:hover #hover,
a:hover #hover1,
a:hover #hover2,
a:hover #hover3,
a:hover #hover4,
a:hover #hover5,
a:hover #hover6,
a:hover #hover7,
a:hover #hover8,
a:hover #hover9,
a:hover #hover10,
a:hover #hover11,
a:hover #hover12 {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    background: rgba(242, 245, 247, 0.9);
}
