@import "SDSCommon";

.SDSFiltersPaneWidget {
  .SDSFiltersPaneHeader {
    @extend %SDSHeaderDataPrimary;
  }

  .SDSFiltersPaneFiltersWrapper {
    padding: 3px;
  }

  .SDSResetAllFiltersLink {
    @extend %SDSLink;
    display:block;
    text-align:center;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
