@import "SDSCommon";

.SDSLegList {
  border-right: $itemsSeparatingLineStyle;
  box-sizing: border-box;
  > li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  > li:not(:last-child) {
    border-bottom: dotted $itemsSeparatingLineColor 1px;
  }

}

.SDSIconAirplaneArrow {
  background: url("../img/sabre.png") -109px -161px no-repeat;
  width: 2px;
  height: 14px;
}

.SDSLegSummary {
  padding-bottom: 0.5rem;

  > .SDSTravelDate {
    width: 10%;
  }
  > .SDSAirport {
    width: 4%;
  }
  > .SDSIconAirplaneArrow {
    margin-left: 2rem;
    margin-right: 1.5rem;
  }
  > .SDTravelDepartureArrivalTime {
    width: 4%;
  }
}

.SDSLegShortSummary {
  margin-top: 10px;
}

.SDSFlightDepartureOrArrival {
  > .SDSLabelForTravelDate {
    width: 6%;
  }
  > .SDSTravelDate {
    width: 5%;
  }
  > .SDSAirport {
    width: 5%;
  }
}

.SDSPriceSummary .SDSCheckoutButton {
  margin-bottom: 0.4rem;
}

.SDSPricePerStopsPerAirlineSummaryTable td {
  white-space:nowrap;
}