@import "compass/css3";

$calendarBorderRadius: 0.4em;
$calendarMinWidth: 20em;
$calendarMaxWidth: 40em;

$cellBackgroundColor: white;
$cellBackgroundColorFocus: #C6C700;
$cellBackgroundPrevNextMonth: #d3d3d3;
$headerColor: #0040D0;

$cellPriceColorTier1: red;
$cellPriceColorTier2: #E8AB0F;

.calendar {
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
  min-width: $calendarMinWidth;
  min-height: $calendarMinWidth * 5 / 7;
  max-width: $calendarMaxWidth;
  @include border-bottom-radius($calendarBorderRadius);
  border-collapse: separate;
  border-spacing: 0.15em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;

  caption {
    @include border-top-radius($calendarBorderRadius);
  }

  caption, thead {
    background-color: $headerColor;
  }

  caption, thead th {
    text-align: center;
    padding: 0.25em;
  }

  tbody {
    border: 1px solid $headerColor;
  }
}

.calendarCell {
  background-color: $cellBackgroundColor;
  padding: 0.3em;
  vertical-align: top;
  cursor: pointer;

  &.highlight {
    background-color: $cellBackgroundColorFocus;
  };
  &.prevOrNextMonthDay {
    background-color: $cellBackgroundPrevNextMonth;
    &.hidden {
      visibility: hidden;
    }
  }
  &.prevOrNextMonthDay.highlight {
    background-color: $cellBackgroundColorFocus;
  }
}

.cellWrapper {
  height: 100%;
}

.calendarDateNumber {
  font-size: 0.8em;
  text-align: right;
  float: right;
}

.calendarCellPrice {
  clear: both;
  white-space: nowrap;
  //vertical-align: middle;
  text-align: right;

  position: relative;
  top: 50%;
  @include translateY(-50%);

  p {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
  }

  &.tier-1 p {
    color: $cellPriceColorTier1;
  }
  &.tier-2 p {
    color: $cellPriceColorTier2;
  }
}
