@import "compass/css3";
@import "compass/css3/images";

$calendarBorderRadius: 0.4em;
$calendarMinWidth: 20em;
$calendarMaxWidth: 40em;

$marginForNavigationArrows: 0.1em;

$cellBackgroundColor: white;
$cellBackgroundColorFocus: #C6C700;
$cellBackgroundPrevNextMonth: #d3d3d3;
$headerColor: #0040D0;

$cellPriceColorTier1: red;
$cellPriceColorTier2: #E8AB0F;

.calendarSlot {
  display: inline-block; //TODO: add responsive styling: (analogous to number of columns in RWD)
}

.calendar {
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
  min-width: $calendarMinWidth;
  min-height: $calendarMinWidth * 5 / 7;
  max-width: $calendarMaxWidth;
  @include border-bottom-radius($calendarBorderRadius);
  border-collapse: separate;
  border-spacing: 0.15em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;

  caption {
    @include border-top-radius($calendarBorderRadius);
  }

  caption .monthNavigationLink {
    $iconPrev: "../img/prev-arrows-16.png";
    $iconNext: "../img/next-arrows-16.png";
    display: inline-block;
    background-repeat: no-repeat;
    height: image-height($iconPrev);
    width: image-width($iconPrev);
    & span {
      visibility: hidden;
    }
    &.prev {
      float: left;
      margin-left: $marginForNavigationArrows;
      @include background-image(url($iconPrev));
    }
    &.next {
      float: right;
      margin-right: $marginForNavigationArrows;
      @include background-image(url($iconNext));
    }
  }

  caption, thead {
    background-color: $headerColor;
  }

  caption {
    text-align: center;
    padding: 0.25em;
  }

  thead th {
    text-align: center;
  }

  tbody {
    border: 1px solid $headerColor;
  }
}

.calendarCell {
  background-color: $cellBackgroundColor;
  padding: 0.3em;
  vertical-align: top;
  cursor: pointer;

  &.highlight {
    background-color: $cellBackgroundColorFocus;
  };
  &.prevOrNextMonthDay {
    background-color: $cellBackgroundPrevNextMonth;
    &.hidden {
      visibility: hidden;
    }
  }
  &.prevOrNextMonthDay.highlight {
    background-color: $cellBackgroundColorFocus;
  }
}

.cellWrapper {
  height: 100%;
}

.calendarDateNumber {
  font-size: 0.8em;
  text-align: right;
  float: right;
}

.calendarCellPrice {
  clear: both;
  white-space: nowrap;
  //vertical-align: middle;
  text-align: right;

  position: relative;
  top: 50%;
  @include translateY(-50%);

  p {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
  }

  &.tier-1 p {
    color: $cellPriceColorTier1;
  }
  &.tier-2 p {
    color: $cellPriceColorTier2;
  }
}

.inactive {
  @include opacity(0.35);
}
