#navegacao {
    padding: 10px 0;
    width: 700px;
    margin-left: 20px
}

.priceBox {
}

#conteudo {
}

#content {
    padding: 0
}

#button {
    float: right;
    text-align: right
}

#refaz_pesquisa {
    z-index: 9999;
    visibility: hidden
}

#barra_lateral {
    width: 200px;
    float: left;
    font-size: 10px
}

.texto_10 {
    font-size: 11px;
    margin: 0
}

.hd_filtro {
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    float: left;
    margin-top: 15px
}

.hd_filtro p {
    padding: 10px
}

.LimparFiltro {
    font-size: 9px;
    margin-top: 12px;
    margin-left: 10px;
    cursor: pointer
}

.filtro {
    float: right;
    font-size: 10px
}

#box_slide {
}

.slide_float_left {
    position: relative;
    left: 13px;
    float: left
}

.slide_float_right {
    position: relative;
    right: 6px;
    float: right
}

.float_left {
    float: left
}

.float_right {
    float: right
}

#centro {
    width: 756px;
    float: right;
    font-size: 11px;
    margin-top: -20px
}

#navega_centro {
    width: 756px;
    height: 30px
}

#navega_centro img {
    padding-left: 30px
}

.tab_ofertas {
    float: left;
    padding: 10px;
    border-collapse: collapse;
    font-weight: bold
}

.calendario {
    width: 60px;
    padding: 2px;
    text-align: center;
    font-weight: bold
}

#barra_lateral h1 {
    font-size: 12px;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px
}

#seta {
    float: left;
    height: 230px;
    width: 13px
}

.calendarControl {
    font-size: x-small;
    float: left
}

select, input[type='text'] {
    font-size: 13px
}

.veja_mais {
    text-align: right;
    display: none;
    height: 39px
}

#remakeSearch {
}

#remakeSearch_btnSearch {
    cursor: pointer
}

#remakeSearch_btnSearchMulti {
    cursor: pointer
}

#remakeSearch_content {
    width: 198px;
    height: auto !important;
    padding: 15px 0;
    float: left;
    border: 1px solid #42bae4
}

#remakeSearch_content img {
    margin-bottom: -10px
}

.remakeSearch_calendarIcon {
    height: 25px;
    cursor: pointer
}

.remakeSearch_calendarIconArrival {
    height: 25px;
    cursor: pointer
}

.remakeSearch_calendarIconDeparture {
    height: 25px;
    cursor: pointer
}

#remakeSearch_header {
    background: url("http://static1.submarinoviagens.com.br/passagens/styles/images/Submarino/hd_filtros.png") no-repeat;
    height: 39px;
    width: 200px
}

#remakeSearch_header h4 {
    font: bold 14px Arial;
    color: #fff !important;
    margin: 11px 0 0 9px;
    float: left;
    text-transform: uppercase
}

.campo-radio-ida-volta {
    width: 200px;
    height: 30px;
    font: 12px Arial;
    color: #027eb5;
    float: left;
    margin-left: 10px
}

.campo-radio-ida-volta .box-ida {
    width: 110px;
    height: 30px;
    float: left
}

.campo-radio-ida-volta .box-volta {
    width: 90px;
    height: 30px;
    float: left
}

.campo-radio-ida-volta .box-ida span.somente-ida {
    margin: 0 auto
}

.campo-origem-destino {
    width: 195px;
    height: 70px;
    float: left;
    margin-bottom: 15px
}

.campo-origem-destino .box-origem {
    width: 180px;
    height: 40px;
    font: bold 11px Arial;
    color: #027eb5;
    margin-left: 10px
}

.campo-origem-destino .box-origem input[type=text] {
    width: 177px;
    border: 1px solid #acd6ee;
    font: 12px arial;
    color: #555;
    *margin-left: -10px
}

.campo-origem-destino .box-origem span.origem {
    display: block;
    margin: 0 auto
}

.campo-origem-destino .box-destino {
    width: 180px;
    height: 40px;
    font: bold 11px Arial;
    color: #027eb5;
    margin-left: 10px
}

.campo-origem-destino .box-destino input[type=text] {
    width: 177px;
    border: 1px solid #acd6ee;
    font: 12px arial;
    color: #555;
    *margin-left: -10px
}

.campo-origem-destino .box-destino span.destino2 {
    margin: 0 auto
}

.campo-data-ida {
    width: 87px;
    height: 40px;
    float: left;
    font: bold 11px Arial;
    color: #027eb5;
    margin-left: 10px;
    margin-right: 10px
}

.campo-data-ida input[type=text] {
    width: 60px;
    border: 1px solid #acd6ee;
    font: 11px arial;
    color: #555;
    float: left;
    *margin-left: -10px
}

.campo-data-ida span.data-ida {
    margin: 0 auto;
    display: block
}

.campo-data-ida #icon-calendario {
    width: 21px;
    height: 21px;
    background: url("http://static1.submarinoviagens.com.br/passagens/styles/images/Submarino/calendario-motor-lateral.gif") no-repeat;
    float: right;
    cursor: pointer
}

.campo-data-volta {
    width: 87px;
    height: 40px;
    float: left;
    font: bold 11px Arial;
    color: #027eb5
}

.campo-data-volta input[type=text] {
    width: 60px;
    border: 1px solid #acd6ee;
    font: 11px arial;
    color: #555;
    float: left
}

.campo-data-volta span#spnDtRetorno {
    margin: 0 auto;
    display: block
}

.campo-data-volta #icon-calendario2 {
    width: 21px;
    height: 21px;
    background: url("http://static1.submarinoviagens.com.br/passagens/styles/images/Submarino/calendario-motor-lateral.gif") no-repeat;
    float: right;
    cursor: pointer
}

.campo-horario-ida {
    width: 88px;
    height: 30px;
    float: left;
    margin-right: 6px;
    font: bold 11px Arial;
    color: #027eb5
}

.campo-horario-ida span.horario-ida {
    margin: 0 auto
}

.campo-horario-ida select#drpStartTime, select#drpEndTime, select#ahdrpStartTime, select#ahdrpEndTime {
    width: 87px;
    border: 1px solid #ccc;
    font: 11px arial;
    color: #555
}

.campo-horario-volta {
    width: 88px;
    height: 40px;
    float: left;
    font: bold 11px Arial;
    color: #027eb5
}

.campo-horario-volta span#spnHorarioVolta {
    margin: 0 auto
}

.campo-cia-aerea {
    width: 88px;
    height: 40px;
    float: left;
    font: bold 11px Arial;
    color: #027eb5;
    margin-right: 6px
}

.campo-cia-aerea span.cia-aerea {
    margin: 0 auto
}

.campo-cia-aerea select#drpCia {
    width: 87px !important;
    border: 1px solid #acd6ee;
    font: 11px arial;
    color: #555
}

.campo-cia-aerea select#ahdrpCia {
    border: 1px solid #acd6ee;
    font: 11px arial;
    color: #555
}

.campo-classes {
    width: 90px;
    height: 40px;
    float: left;
    font: bold 11px Arial;
    color: #027eb5
}

.campo-classes span.classes {
    margin: 0 auto
}

.campo-classes select#selCabin {
    width: 87px;
    border: 1px solid #acd6ee;
    font: 11px arial;
    color: #555
}

.campo-classes select#ahselCabin {
    width: 87px;
    border: 1px solid #acd6ee;
    font: 11px arial;
    color: #555
}

.box-somente-voos-inter {
    display: none
}

.voo-direto {
    width: 180px;
    height: 25px;
    float: left;
    margin-top: 5px;
    border-bottom: 1px dashed #abd9f1
}

.voo-direto span {
    margin: 0 auto;
    font: bold 11px Arial;
    color: #027eb5
}

.campo-passageiros {
    width: 179px;
    float: left;
    font: 9px Arial;
    color: #027eb5;
    margin: -210px 0 0 10px;
    border-top: 1px dashed #abd9f1;
    padding-top: 10px
}

.campo-passageiros span.passageiros {
    margin: 0 auto;
    font: bold 11px Arial;
    color: #027eb5;
    display: block;
    margin-bottom: 5px
}

.campo-passageiros .box-adulto {
    width: 45px;
    height: 50px;
    float: left;
    margin: 0 6px 0 0;
    text-align: center
}

.campo-passageiros .box-adulto span {
    margin: 0 auto;
    display: block
}

.campo-passageiros .box-adulto select#drpQtdADT {
    width: 37px;
    border: 1px solid #ccc
}

.campo-passageiros .box-criancas {
    width: 56px;
    height: 50px;
    float: left;
    margin-right: 6px;
    text-align: center
}

.campo-passageiros .box-criancas span {
    margin: 0 auto;
    display: block
}

.campo-passageiros .box-criancas select#drpQtdCHD {
    width: 37px;
    border: 1px solid #ccc
}

.campo-passageiros .box-bebes {
    width: 64px;
    height: 50px;
    float: left;
    text-align: center
}

.campo-passageiros .box-bebes span {
    margin: 0 auto;
    display: block
}

.campo-passageiros .box-bebes select#drpQtdINF {
    width: 37px;
    border: 1px solid #ccc
}

#buscaAvancada {
    border: none;
    background: none;
    font: 10px Arial;
    color: #027eb5;
    float: right;
    text-decoration: underline;
    cursor: pointer;
    margin-right: -10px
}

a#remakeSearch_btnSearch {
    width: 152px;
    height: 33px;
    float: left;
    margin: 15px 0 0 24px;
    text-decoration: none;
    background: url(http://static3.submarinoviagens.com.br/passagens/styles/images/Submarino/btn-pesquisar.png) no-repeat
}

.segura-bloco {
    border-top: 1px dashed #abd9f1;
    float: left;
    margin-left: 10px;
    width: 184px;
    padding-top: 10px
}

#remakeSearch_content h4 {
    margin: 0;
    border-bottom: dotted 1px;
    font-size: 12px;
    padding: 5px 0
}

#add-trajeto {
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    text-align: center
}

#remove-trajeto {
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    text-align: center
}

#tit_detalhe {
    border: 2px solid #fff;
    min-width: 291px
}

#tit_detalhe2 {
    background-image: url(../images/amex/ico_detalhe.png);
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 0 60px;
    display: none;
    width: 21px;
    height: 19px;
    padding: 0;
    float: right;
    margin-top: -14px;
    margin-right: 12px;
    cursor: pointer
}

.filter_escalas {
    font-size: 11px
}

.filter_airportLine {
    vertical-align: bottom;
    height: 25px
}

.filter_aiports {
    background-color: #f4f4f4;
    padding: 0 5px 5px 5px;
    width: 170px
}

.priceGroup_flights {
    margin-top: 5px
}

.filter_aircompanies {
    margin-bottom: 25px
}

.nospacing {
    padding: 0 0 0 0
}

.filter_airportName {
    font-size: 10px
}

.filter_ul {
    padding: 0;
    margin: 0
}

.filter_ul li {
    float: left;
    list-style: none
}

#filtersContainer h1 {
    font-size: 12px;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 20px
}

#filtersContainer h2 {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both
}

.filter_aloneLine {
    clear: both;
    margin-top: 15px;
    padding: 4px
}

.filter_line {
    clear: both;
    line-height: 27px
}

.filter_left {
    float: left
}

.filter_right {
    text-align: right;
    font-size: 11px
}

.filter_slider {
    height: 48px;
    font-size: 10px;
    font-weight: bold;
    width: 100%
}

.filter_slider_control_padding {
    padding-left: 20px !important
}

.filter_slider_title {
    padding: 7px 10px 7px 15px
}

.pricematrix_column_AirCompany {
    float: left;
    position: relative;
    display: none
}

#divMatrixPrice {
    height: 145px;
    font-weight: bold
}

.pricematrix_column {
    width: 120px
}

.pricematrix_Header {
    font-size: 14px;
    font-weight: bold;
    height: 33px
}

.pricematrix_Header_Title {
    float: left;
    width: 300px;
    margin: 10px 10px 0 10px
}

#pricematrix_Container {
}

#pricematrix_Sumary {
    float: left
}

#pricematrix_BestPrices {
    float: left
}

.pricematrix_Column_Cell {
    border-width: 1px;
    border-style: solid;
    height: 14px;
    padding: 3px;
    text-align: center
}

.pricematrix_Column_Cell > span {
    margin: auto
}

.pricematrix_Collumn_Header {
    height: 40px;
    text-align: center;
    border-width: 1px;
    border-style: solid
}

#pricematrix_Window {
    float: left;
    overflow: hidden;
    width: 480px;
    z-index: 3000
}

#pricematrix_sumaryTitle {
    margin-top: 2px;
    text-align: left;
    border: none
}

#divMatrixButtons {
    margin-left: 240px;
    clear: both
}

#btnSeeMore {
    display: none
}

#btnBack {
    display: none
}

.priceGroup_priceBox {
    background-repeat: no-repeat;
    width: 139px;
    height: 45px;
    padding: 5px 2px 5px 0;
    text-align: center;
    font-weight: bold
}

.priceGroup_priceBox span {
    font-size: 18px
}

.priceGroup_btnBuy, .priceGroup_btnBuy-aereoHotel {
    text-align: center;
    cursor: pointer
}

.priceGroup_icoInfo {
    width: 35px;
    height: 17px;
    cursor: pointer
}

.priceGroup_Links {
    height: 16px;
    list-style: none;
    padding-left: 0;
    margin: 0
}

.priceGroup_Links li {
    float: left;
    padding-right: 25px
}

#pricematrix_ColumnsContainer {
    width: 9999px
}

.filter_airportIATA {
    font-weight: bold;
    font-size: 12px
}

.aba_voltar {
    width: 122px;
    height: 23px;
    float: left;
    padding-left: 35px;
    padding-top: 5px;
    cursor: pointer;
    font-weight: normal
}

.aba_ver_mais {
    width: 122px;
    height: 23px;
    float: right;
    padding-left: 35px;
    padding-top: 5px;
    cursor: pointer;
    font-weight: normal
}

.ico_seta_esq {
    padding-left: 15px
}

.ico_mais {
    padding-left: 8px
}

.ico_seta_dir {
    padding-left: 8px
}

.box_filtros_conteudo {
    width: 200px;
    padding: 0;
    padding-top: 5px;
    float: left
}

.box_filtros_topo {
    width: 200px;
    height: 8px;
    margin-bottom: -5px;
    float: left
}

.box_filtros_rodape {
    width: 200px;
    height: 8px;
    float: left
}

.lnk_refaca {
    font-size: 11px;
    cursor: pointer
}

.box_sombra_topo {
    width: 755px;
    height: 8px;
    margin-bottom: -6px
}

.box_sombra_conteudo {
    width: 755px;
    padding-top: 5px
}

.box_sombra_rodape {
    width: 755px;
    height: 8px
}

.ico_duvidas {
    color: #3caee0;
    font-size: 10px;
    padding-left: 20px;
    float: right;
    text-decoration: underline;
    cursor: pointer
}

.ico_melhor_preco {
    width: 97px;
    height: 39px;
    margin: auto
}

.bto_vejamais {
    width: 128px;
    height: 34px;
    cursor: pointer;
    margin-top: 2px;
    float: right
}

.bto_info {
    width: 128px;
    height: 34px;
    cursor: pointer;
    margin-top: 2px;
    float: right
}

.ac_results {
    padding: 0;
    border: 1px solid #000;
    background-color: #fff;
    overflow: hidden;
    z-index: 9999
}

.ac_results ul {
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0
}

.ac_results li {
    margin: 0;
    padding: 2px 5px;
    cursor: hand;
    display: block;
    text-align: left !important;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden
}

.ac_loading {
}

.ac_over {
    background-color: #0a246a;
    color: #fff
}

.spMais {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    color: #000
}

.cssToolTipCias {
    padding-left: 5px;
    padding-right: 5px
}

.mensagem-tarifa {
    color: #0f89c1
}

.filter_left .chkFilterAirCompany {
    padding-left: 0;
    padding-right: 0
}

.segura-ord-pag {
    width: 755px;
    height: 33px;
    float: left
}

.ord-pag-bg-left {
    background: url("../Images/hotel/submarino/fluxo-bg-barra-ord-left.gif") no-repeat;
    width: 6px;
    height: 33px;
    float: left
}

.ord-pag-bg-centro {
    background: url("../Images/hotel/submarino/fluxo-bg-barra-ord-center.gif") repeat-x;
    width: 743px;
    height: 33px;
    float: left
}

.ord-pag-bg-right {
    background: url("../Images/hotel/submarino/fluxo-bg-barra-ord-right.gif") no-repeat;
    width: 6px;
    height: 33px;
    float: left
}

.ord {
    width: 400px;
    float: left
}

.ord-p {
    margin: 0 9px;
    color: #4c4c4c;
    font: 12px 'Arial', 'Helvetica', sans-serif;
    float: left;
    line-height: 33px
}

.ord-option {
    cursor: pointer
}

.ord-option-a {
    text-decoration: underline;
    color: #a5a5a5;
    font: 12px 'Arial', 'Helvetica', sans-serif;
    margin: 10px 0;
    display: block;
    float: left
}

.ord-option-a:hover {
    color: #4c4c4c
}

.ord-option {
    float: left;
    list-style: none;
    line-height: 33px;
    margin-right: 20px;
    color: #a5a5a5;
    font: 12px 'Arial', 'Helvetica', sans-serif
}

.pag {
    padding: 10px 0;
    width: auto;
    position: relative;
    float: right
}

.pag-lista {
    list-style: none;
    margin: 0 auto;
    height: 30px
}

.pag-lista-li {
    float: left;
    margin: 0;
    font: 11px Arial, Helvetica, sans-serif;
    color: #707070;
    width: 15px;
    text-align: center
}

.pagerIndex {
    text-decoration: underline;
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #707070;
    padding: 2px 4px;
    cursor: pointer
}

.pagerIndex:hover {
    text-decoration: underline;
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #999;
    padding: 2px 4px;
    background: none
}

.pagerIndexSelected {
    text-decoration: none;
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #000;
    padding: 2px 4px
}

.pag-lista-btn {
    float: left;
    text-decoration: none;
    padding: 0 4px;
    cursor: pointer;
    width: 10px
}

.pag-next {
    padding: 2px 4px
}