<div>
    <!--WARN: as this template is used by ui-gmap-window, that ui-gmap-window exposes all model variables only thru 'parameter' object.
    It is not possible to rename this parameter in directive.
    Therefore if this template is reused also in for other directives, the other directive has to expose model at 'parameter' model variable -->
    {{parameter.destination | cityFullName}}
    from {{parameter.lowestFare.amount | currency:parameter.lowestFare.currency}}
    <div>
        And here comes price list.. + all details
        <ul class="list-inline list-unstyled">
            <li ng-repeat="offer in parameter.offers">
                {{offer.LowestFare.AirlineCodes[0]}} TODO {{model.originForPricesForDestinations}} - {{offer.DestinationLocation}} {{offer.DepartureDateTime}}-{{offer.ReturnDateTime}} from {{offer.LowestFare.Fare | currency:offer.CurrencyCode}}
            </li>
        </ul>
    </div>
</div>