a:hover .info {
    width: 62px;
    background: transparent url(../images/rtbhouse-link.png) no-repeat center left;
}

a .info {
    z-index: 200;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: transparent url(../images/info.png) no-repeat center center;
    top: 2px;
    left: 2px;
}

#button:hover,
#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover,
#button5:hover,
#button6:hover,
#button7:hover,
#button8:hover,
#button9:hover,
#button10:hover,
#button11:hover,
#button12:hover {

    background: rgb(207, 97, 0);
    background: -webkit-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: -moz-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: -ms-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: -o-linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
    background: linear-gradient(top, rgb(207, 97, 0) 0%, rgb(207, 97, 0) 100%) no-repeat top left;
}

#insetOffer,
#insetOffer1,
#insetOffer2,
#insetOffer3,
#insetOffer4,
#insetOffer5,
#insetOffer6,
#insetOffer7,
#insetOffer8,
#insetOffer9,
#insetOffer10,
#insetOffer11,
#price,
#price1,
#price2,
#price3,
#price4,
#price5,
#price6,
#price7,
#price8,
#price9,
#price10,
#price11 {
    display: block !important;
    width: 100% !important;
    height: 100% !important
}

a:hover .offers,
a:hover .offers #hover,
a:hover .offers #hover1,
a:hover .offers #hover2,
a:hover .offers #hover3,
a:hover .offers #hover4,
a:hover .offers #hover5,
a:hover .offers #hover6,
a:hover .offers #hover7,
a:hover .offers #hover8,
a:hover .offers #hover9,
a:hover .offers #hover10,
a:hover .offers #hover11 {
    display: block !important;
    overflow: visible !important;
}

#offertContener:hover a .offers #hover {
    display: none;
}

a .offers #hover {
    z-index: 30;
}

a .offers #hover1,
a .offers #hover2,
a .offers #hover3,
a .offers #hover4,
a .offers #hover5,
a .offers #hover6,
a .offers #hover7,
a .offers #hover8,
a .offers #hover9,
a .offers #hover10,
a .offers #hover11 {
    z-index: 30;
    display: none !important;
    overflow: hidden !important;
}

#offertContener #offer1 {
    overflow: visible;
}

#offertContener:hover #offer1 {
    overflow: hidden
}
