/*ribbon*/

.ribbon-wrapper-green {
    width: 4em;
    height: 5em;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -113px;
    z-index: 30;
}

.ribbon-green {
    float: right;
    font: bold 64% Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    height: 30%;
    right: 0px;
    top: 10%;
    width: 130%;
    color: #ffffff;
    background: rgb(0, 63, 126);
    background: -webkit-linear-gradient(top, rgb(0, 63, 126) 0%, rgb(0, 63, 126) 100%) no-repeat top left;
    background: -moz-linear-gradient(top, rgb(0, 63, 126) 0%, rgb(0, 63, 126) 100%) no-repeat top left;
    background: -ms-linear-gradient(top, rgb(0, 63, 126) 0%, rgb(0, 63, 126) 100%) no-repeat top left;
    background: -o-linear-gradient(top, rgb(0, 63, 126) 0%, rgb(0, 63, 126) 100%) no-repeat top left;
    background: linear-gradient(top, rgb(0, 63, 126) 0%, rgb(0, 63, 126) 100%) no-repeat top left;
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #d1d1d1;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}

.ribbon-green:after {
    right: 0;
}

