body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666;
    margin: 0
}

body #container {
    overflow: hidden;
    height: auto;
    padding-bottom: 40px;
}

.homeTemas #container {
    padding-bottom: 0 !important
}

body input, body select {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-color: #acd6ee;
    font: 11px Arial
}

body label {
    width: 100%
}

body label input {
    width: 100%
}

body label input.radio {
    display: inline-block;
    width: 13px
}

body label input.chkNonStop {
    display: inline-block;
    width: 13px
}

body .bold {
    font-weight: 700
}

body .bottom {
    height: 10px
}

body .clear {
    clear: both;
    float: none !important
}

body .invalid {
    border-bottom-color: red
}

body .hide {
    display: none
}

body span.question {
    background-image: url(/passagens/styles/images/submarino/ico_ajuda.png);
    cursor: pointer;
    float: left;
    height: 13px;
    padding-left: 14px;
    margin-right: 5px
}

body .search-engine-manager {
    width: 555px;
    background-color: #199BCC;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0 15px;
    margin: 0
}

body .search-engine-manager li {
    list-style: none;
    display: inline-block;
    width: 100px;
    font-size: 16px;
    color: #55B6DB;
    line-height: 26px;
    vertical-align: text-top;
    padding-left: 7px;
    padding-top: 10px;
}

body .search-engine-manager li:hover {
    color: #fff;
    cursor: pointer
}

body .search-engine-manager li.active {
    color: #fff
}

body .search-engine-manager li.active span {
    background-position: 0 -24px
}

body .search-engine-manager li span {
    background-image: url(/passagens/styles/images/submarino/menu-motores.png);
    background-repeat: no-repeat;
    height: 13px;
    padding-left: 18px;
    padding-top: 2px;
    margin-right: 5px
}

body .search-engine-manager li div.selo-motor {
    width: 113px;
    height: 81px;
    background: url(/images/selo-motor-500.png) left top no-repeat;
    position: absolute;
    margin-left: 450px;
    margin-top: -3px
}

body .search-engine {
    background-color: #00adef;
    width: 545px;
    height: auto;
    color: #fff;
    font-size: 12px;
    padding: 30px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    float: left;
}

body .search-engine.package {
    min-height: 321px
}

body .search-engine.border-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

body .search-engine .bold {
    font-weight: 100
}

body .search-engine .search-engine-header {
    margin-top: -20px;
    padding: 20px 0
}

body .search-engine .search-engine-header.hotel {
    display: none;
}

body .search-engine .search-engine-header h4 {
    font-size: 16px
}

body .search-engine.lp .search-engine-header {
    padding: 0
}

body .search-engine .errors {

    border: none;
    color: #FFF;
    width: 430px;
    margin-bottom: 10px;
}

body .search-engine .errors p {
    text-align: left;
    margin: 0;
    padding: 0
}

body .search-engine .search-engine-body {
    position: relative
}

body .search-engine .search-engine-body input, body .search-engine .search-engine-body select {
    color: #008cba
}

body .search-engine .search-engine-body input {
    font-size: 15px
}

body .search-engine .search-engine-body select {
    font-size: 14px
}

body .search-engine .search-engine-body .oneway-roundtrip {
    position: absolute;
    top: -36px;
    left: 134px
}

body .search-engine .search-engine-body .oneway-roundtrip .no-stop input {
    width: initial
}

body .search-engine .search-engine-body div.extreme-search {
    background-color: #33BDF2;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 0 5px 10px
}

body .search-engine .search-engine-body div.extreme-search span.spn-economize {
    color: #fff200
}

body .search-engine .search-engine-body div.extreme-search-engine {
    margin: 10px 0
}

body .search-engine .search-engine-body div.extreme-search-engine .line {
    margin-top: 5px
}

body .search-engine .search-engine-body div.extreme-search-engine .line .first {
    display: inline-block;
    width: 303px
}

body .search-engine .search-engine-body div.extreme-search-engine .line .first.from select {
    margin-left: 23px
}

body .search-engine .search-engine-body div.extreme-search-engine .line .first.to select {
    margin-left: 13px
}

body .search-engine .search-engine-body div.extreme-search-engine .line .first select {
    width: 241px
}

body .search-engine .search-engine-body div.extreme-search-engine .line .second select {
    width: 106px;
    font-size: 13px;
}

body .search-engine .search-engine-body div.extreme-search-engine .line .second.month select {
    margin-left: 28px
}

body .search-engine .search-engine-body div.extreme-search-engine .line select {
    display: inline-block
}

body .search-engine .search-engine-body div.from {
    padding: 10px 0
}

body .search-engine .search-engine-body div label.origin, body .search-engine .search-engine-body div label.destination {
    display: inline-block;
    width: 280px
}

body .search-engine .search-engine-body div label.origin input {
    margin-left: 25px
}

body .search-engine .search-engine-body div label.destination input {
    margin-left: 14px
}

body .search-engine .search-engine-body div label.lblInboundDate {
    padding: 0 0 0 58px
}

body .search-engine .search-engine-body.attraction label.lblInboundDate {
    padding: 0 0 0 4px
}

body .search-engine .search-engine-body div label.lblInboundDate input {
    margin-left: 20px
}

body .search-engine .search-engine-body div label.lblOutboundDate {
    padding: 0 0 0 56px;
    display: inline-block;
    width: 197px
}

body .search-engine .search-engine-body div label.lblOutboundDate input {
    margin-left: 11px
}

body .search-engine .search-engine-body div label input.txtOrigin, body .search-engine .search-engine-body div label input.txtDestination {
    width: 212px
}

body .search-engine .search-engine-body div label input.txtOrigin {
    display: inline-block;
    margin-bottom: 10px
}

body .search-engine .search-engine-body div label select {
    display: block
}

body .search-engine .search-engine-body div input {
    display: inline-block;
    border: 0;
    padding: 11px
}

body .search-engine .search-engine-body div input.radio, body .search-engine .search-engine-body div input.chkNonStop {
    padding: 5px 2px
}

body .search-engine .search-engine-body div input.txtInboundDate, body .search-engine .search-engine-body div input.txtOutboundDate {
    width: 133px;
    background: #fff url(/images/motores/calendario.jpg) no-repeat 95% center
}

body .search-engine .search-engine-body div select {
    padding: 11px
}

body .search-engine .search-engine-body div.passengers-quantity {
    padding-top: 20px;
    width: 280px;
    float: left;
}

.homeTemas .search-engine .search-engine-body div.passengers-quantity .passenger_p {
    margin-top: 0 !important;
}

body .search-engine .search-engine-body div.passengers-quantity .passenger_p {
    width: 80px;
    float: left;
    margin-top: 20px
}

body .search-engine .search-engine-body div.passengers-quantity .passenger-quantity {
    font-size: 10px;
    width: 57px;
    float: left
}

body .search-engine .search-engine-body div.passengers-quantity .passenger-quantity select {
    padding: 5px 2px
}

body .search-engine .search-engine-body div.passengers-quantity .passenger-quantity p {
    font-size: 9px;
    width: 50px;
    text-align: center;
}

body .search-engine .search-engine-body div.date {
    width: 230px
}

body .search-engine .search-engine-body div.date.first input {
    margin-left: 25px;
    background: #fff url(/images/motores/calendario.jpg) no-repeat 95% center
}

body .search-engine .search-engine-body div.date.second input {
    margin-left: 14px;
    background: #fff url(/images/motores/calendario.jpg) no-repeat 95% center
}

body .search-engine .search-engine-body div.advanced-search-components {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px dotted #0082d6;
    border-bottom: 1px dotted #0082d6
}

body .search-engine .search-engine-body.package .other-period {
    width: 100%;
    float: left;
    border-bottom: 1px dotted #0082d6;
}

body .search-engine_div .air-search-engine {
    position: relative;
}

body .search-engine .search-engine-body div.advanced-search-components div {
    float: left;
    padding: 2px 0
}

body .search-engine .search-engine-body div.advanced-search-components div.outboundDateDiv {
    padding: 0 0 0 60px
}

body .search-engine .search-engine-body div.advanced-search-components div.cabinDiv {
    padding-left: 51px
}

body .search-engine .search-engine-body.package div.advanced-search-components div.cabinDiv {
    padding-left: 39px
}

body .search-engine .search-engine-body div.advanced-search-components div label.ciaCodelbl {
    padding-left: 12px
}

body .search-engine .search-engine-body .advanced-search {
    float: right;
    width: 125px;
    height: 23px;
    margin: 0;
    background: url(/images/motores/bt-busca-avancada.png) no-repeat;
    position: relative;
    top: 138px;
    /*left: 440px;*/
    cursor: pointer
}

body .search-engine .search-engine-body.package .advanced-search {
    top: 95px;
}

.homeTemas .search-engine.lp .search-engine_div .search-engine-body .search {
    margin-top: 10px !important;
    float: left !important;
    margin-left: 35px;
}

body .search-engine .search-engine-body .search {
    display: inline-block;
    width: 220px;
    height: 41px;
    background: url(/passagens/styles/images/submarino/bt-pesquisar.png) no-repeat;
    cursor: pointer;
    float: right;
    margin-top: 33px;
}

body .search-engine .search-engine-body .search.inline {
    display: none;
}

body .search-engine .search-engine-body.hotel label.destination {
    display: block;
    position: initial
}

body .search-engine .search-engine-body.hotel label.destination input {
    width: 432px;
    margin-left: 0;
    margin-top: 10px;
    border: 0;
    padding: 11px
}

body .search-engine .search-engine-body.hotel div.date {
    float: left;
    width: 242px;
    padding-top: 10px
}

body .search-engine .search-engine-body.hotel div.date.first {
    position: initial
}

body .search-engine .search-engine-body.hotel div.date.first input {
    background: #fff url(/images/motores/calendario.jpg) no-repeat 95% center
}

body .search-engine .search-engine-body.hotel div.date.second {
    position: initial
}

body .search-engine .search-engine-body.hotel div.date.second input {
    background: #fff url(/images/motores/calendario.jpg) no-repeat 95% center
}

body .search-engine .search-engine-body.hotel div.date input {
    margin-left: 0;
    margin-top: 10px;
    width: 133px
}

body .search-engine .search-engine-body.hotel div select {
    margin-top: 10px
}

body .search-engine .search-engine-body.hotel .rooms-quantity {
    position: absolute;
    top: 76px;
    left: 442px;
    width: 105px
}

body .search-engine .search-engine-body.hotel .rooms {
    padding: 17px 0 0
}

body .search-engine .search-engine-body.hotel .rooms li {
    list-style: none
}

body .search-engine .search-engine-body.hotel .rooms li.header {
    margin-left: 47px;
    height: 15px;
    width: 80%
}

body .search-engine .search-engine-body.hotel .rooms li.header span {
    font-size: 10px;
    margin-left: 7px;
}

body .search-engine .search-engine-body.hotel .rooms li.header span.children {
    padding: 0 10px
}

body .search-engine .search-engine-body.hotel .rooms li.room select {
    padding: 5px;
    margin: 3px
}

body .search-engine .search-engine-body.hotel .rooms li.room span.childrenAge {
    margin-left: 4px
}

body .search-engine .search-engine-body.hotel .search {
    margin-top: -35px
}

body .search-engine .search-engine-body.cruise .search {
    margin-top: 50px
}

body .search-engine .search-engine-body.package select {
    padding: 11px
}

body .search-engine .search-engine-body.package .rooms-quantity {
    float: left;
    padding-top: 25px
}

body .search-engine .search-engine-body.package ul li {
    list-style: none
}

body .search-engine .search-engine-body.package ul li.header {
    font-size: 10px;
    margin-left: 194px;
    width: 65%;
    height: 10px;
    margin-top: 13px
}

body .search-engine .search-engine-body.package ul li.room {
    margin-left: 140px
}

body .search-engine .search-engine-body.package ul li.room select {
    margin: 3px
}

body .search-engine .search-engine-body.package ul li.room .childrenAge select {
    margin: 3px
}

body .search-engine .search-engine-body.package .other-period div {
    float: left
}

body .search-engine .search-engine-body.package .other-period div input.txtCheckIn, body .search-engine .search-engine-body.package .other-period div input.txtCheckOut {
    width: 99px;
    background: #fff url(/images/motores/calendario.jpg) no-repeat 95% center
}

body .search-engine .search-engine-body.package .other-period div.first, body .search-engine .search-engine-body.package .other-period div.second {
    display: inline-block;
    float: left;
    padding: 15px 0
}

body .search-engine .search-engine-body.package .other-period div.first label, body .search-engine .search-engine-body.package .other-period div.second label {
    display: inline-block;
    width: 122px
}

body .search-engine .search-engine-body.package .other-period div.first label input, body .search-engine .search-engine-body.package .other-period div.second label input {
    margin-top: 10px
}

body .search-engine .search-engine-body.package .other-period div.first .hotel-other-city_p {
    width: 196px
}

body .search-engine .search-engine-body.package .other-period div.second {
    width: 260px;
    margin-left: 63px
}

body .search-engine .search-engine-body.package .rooms .header .children {
    margin-left: 30px
}

body .search-engine .search-engine-body.package .rooms .header .childrenAgeHeader {
    margin-left: 21px
}

body .search-engine.lp .search-engine-body.package .search {
    margin-right: 15px !important;
}

body .search-engine.lp .errors {
    width: 100%;
}

body .search-engine .search-engine-body.package .search {
    margin-right: -120px;
    margin-top: 20px
}

body .search-engine .search-engine-body.extreme-search-engine .search {
    margin-right: 0;
    margin-top: 64px
}

body .search-engine .search-engine-body.attraction select {
    padding: 11px;
    width: 270px
}

body .search-engine .search-engine-body.attraction ul {
    background-color: #199BCC;
    padding: 10px
}

body .search-engine .search-engine-body.attraction ul li {
    list-style: none;
    display: inline-block;
    width: 120px;
    padding: 5px 0
}

body .search-engine .search-engine-body.attraction ul input {
    margin-right: 5px;
}

body .search-engine .search-engine-body.attraction div.search-engine-header {
    margin-top: 0
}

body .search-engine .search-engine-body.attraction a.search {
    /*position: absolute;*/
    margin-top: -41px
}

body .search-engine .search-engine-body.cruise select {
    padding: 15px;
    width: 100%;
    margin-top: 10px;
}

body .search-engine .search-engine-body.cruise label {
    display: inline-block;
    width: 80%;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
}

body .search-engine .search-engine-body.resort p {
    font-size: 15px;
    font-weight: 700
}

body .search-engine .search-engine-body.resort div {
    padding: 10px 0
}

body .search-engine .search-engine-body.resort div label {
    display: inline-block;
    width: 45%
}

body .search-engine .search-engine-body.resort div label select {
    margin-left: 5px;
    display: inline-block;
    width: 155px
}

body .search-engine .search-engine-body.resort div label.nordeste {
    margin-left: 23px
}

body .search-engine .search-engine-body.resort div label.norte {
    margin-left: 70px;
    width: 37%
}

body .search-engine .search-engine-body.resort div label.sul {
    width: 35%;
    margin-left: 56px
}

body .search-engine .search-engine-body.resort div label.sudeste {
    width: 40%;
    margin-left: 75px
}

body .search-engine .search-engine-body.resort .search {
    /*position: absolute;*/
    top: 172px;
    float: right;
    margin-top: -20px;
}

.homeTemas .search-engine.lp {
    width: 277px !important;
}

body .search-engine.lp {
    background-color: #0099ec;
    padding: 0 10px 30px;
    width: 231px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

body .search-engine.lp .search-engine_div .search-engine-header {
    margin: 0
}

.homeTemas .search-engine.lp .search-engine_div .search-engine-header h2 {
    width: 251px !important;
    text-align: left;
    padding-left: 46px !important;
    font-size: 19px !important;
}

body .search-engine.lp .search-engine_div .search-engine-header h2 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
    margin-left: -10px;
    padding: 11px 0 13px 30px;
    background: url(http://www.submarinoviagens.com.br/images/motores/motores-tematicas/icon-tit-motor.png) no-repeat 9px 6px #0182c6;
    text-align: left;
    width: 206px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 45px;
    color: #fff;
}

body .search-engine.lp .search-engine_div .search-engine-body {
    margin-top: 10px
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel .date {
    float: none
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel .date input {
    width: 86%
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel span {
    font-weight: 700
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel label {
    font-weight: 700
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel label.destination input {
    width: 90%
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel .rooms-quantity {
    position: static
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel div select {
    padding: 6px 0
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel .rooms .room {
    /*padding-bottom: 30px*/
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel .rooms .room .childrenAge .drpChildAge {
    margin: 5px 2px
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel .rooms .room .childrenAge .childrenAgeHeader {
    font-size: 10px;
    width: 48px;
    float: left;
    height: 35px;
    margin: 4px 5px 0 0;
    text-align: right;
}

body .search-engine.lp .search-engine_div .search-engine-body.hotel .rooms .header {
    background-color: #0099ec
}

body .search-engine.lp .search-engine_div .search-engine-body.package select {
    padding: 5px 0
}

body .search-engine.lp .search-engine_div .search-engine-body.package .rooms-quantity {
    float: none
}

body .search-engine.lp .search-engine_div .search-engine-body.package .rooms {
    padding: 0
}

body .search-engine.lp .search-engine_div .search-engine-body.package .rooms li {
    margin: 0
}

body .search-engine.lp .search-engine_div .search-engine-body.package .rooms li.header {
    margin-left: 52px;
    background-color: #0099ec;
    margin-top: 10px
}

body .search-engine.lp .search-engine_div .search-engine-body.package .rooms li.header .children {
    margin-left: 0
}

body .search-engine.lp .search-engine_div .search-engine-body.package .rooms .room .childrenAge .drpChildAge {
    margin: 5px 2px
}

body .search-engine.lp .search-engine_div .search-engine-body.package .rooms .room .childrenAge .childrenAgeHeader {
    font-size: 10px;
    width: 48px;
    float: left;
    height: 23px;
    margin: 4px 5px 0 0;
    text-align: right;
}

.homeTemas .search-engine.lp .search-engine_div .search-engine-body div label {
    width: 255px;
}

body .search-engine.lp .search-engine_div .search-engine-body div label {
    width: 209px
}

.homeTemas .search-engine.lp .search-engine_div .search-engine-body div label input.txtOrigin, .homeTemas .search-engine.lp .search-engine_div .search-engine-body div label input.txtDestination {
    margin: 5px 0 !important;
}

body .search-engine.lp .search-engine_div .search-engine-body div label input.txtOrigin, body .search-engine.lp .search-engine_div .search-engine-body div label input.txtDestination {
    width: 100%;
    margin: 5px 0 15px 0;
}

.homeTemas .search-engine.lp .search-engine_div .search-engine-body div label input.txtInboundDate, .homeTemas .search-engine.lp .search-engine_div .search-engine-body div label input.txtOutboundDate {
    width: 108px !important;
    margin-left: 0 !important;
}

body .search-engine.lp .search-engine_div .search-engine-body div label input.txtInboundDate, body .search-engine.lp .search-engine_div .search-engine-body div label input.txtOutboundDate {
    width: 167px
}

body .search-engine.lp .search-engine_div .search-engine-body div label.origin, body .search-engine.lp .search-engine_div .search-engine-body div label.destination {
    font-weight: 700
}

.homeTemas .search-engine.lp .search-engine_div .search-engine-body div label.lblInboundDate, .homeTemas .search-engine.lp .search-engine_div .search-engine-body div label.lblOutboundDate {
    width: 137px !important;
    float: left;
    margin: 0 0 10px 0 !important;
}

body .search-engine.lp .search-engine_div .search-engine-body div label.lblInboundDate, body .search-engine.lp .search-engine_div .search-engine-body div label.lblOutboundDate {
    font-weight: 700;
    width: 100%;
    padding: 0 0 0 1px;
    margin: 10px 0
}

body .search-engine.lp .search-engine_div .search-engine-body div label.lblOutboundDate input {
    margin-left: 8px
}

body .search-engine.lp .search-engine_div .search-engine-body div.from {
    padding-bottom: 0
}

body .search-engine.lp .search-engine_div .search-engine-body div.to {
    margin-bottom: 10px
}

body .search-engine.lp .search-engine_div .search-engine-body div.passengers-quantity {
    padding-top: 0
}

body .search-engine.lp .search-engine_div .search-engine-body div.passengers-quantity .passenger_p {
    font-weight: 700;
    float: none
}

body .search-engine.lp .search-engine_div .search-engine-body .oneway-roundtrip {
    font-size: 11px;
    position: static;
    margin-bottom: 10px;
}

body .search-engine.lp .search-engine_div .search-engine-body .oneway-roundtrip label input {
    padding: 0;
    margin: 0
}

body .search-engine.lp .search-engine_div .search-engine-body .search {
    margin-left: 4px;
    margin-top: 15px !important;
}

#motorAeroExtreme .calendar {
    float: left;
    margin-top: 15px
}

#motorAeroExtreme .calendar-container, #motorAeroExtreme .calendar-loading {
    width: 355px;
    border-radius: 10px;
    float: left;
    background-color: #fff;
    height: 284px;
    padding: 10px 9px
}

#motorAeroExtreme .calendar-loading img {
    position: relative;
    top: 30%;
    left: 35%
}

#motorAeroExtreme .calendar table {
    width: 352px !important
}

#motorAeroExtreme .calendar table td {
    width: auto;
    height: auto;
    border: 0
}

#motorAeroExtreme .calendar .tbMonthList {
    border-bottom: 2px dashed #AFEAFF;
    width: 352px !important;
    margin-top: 5px
}

#motorAeroExtreme .calendar table td.calendarMonth {
    width: 20px;
    text-align: center
}

#motorAeroExtreme .calendar table td.monthPrevious {
    background: url(/images/motores/aereo/seta-anterior-mes.png) no-repeat scroll left center transparent
}

#motorAeroExtreme .calendar table td.monthNext {
    background: url(/images/motores/aereo/seta-proximo-mes.png) no-repeat scroll right center transparent
}

#motorAeroExtreme .calendar table td.clicavel {
    cursor: pointer
}

#motorAeroExtreme .calendar table td.selecionado {
    background: url(/images/motores/aereo/bg-calendario-selecinado.png) no-repeat
}

#motorAeroExtreme .calendar .stayDurationDay .calendarValue {
    visibility: hidden
}

#motorAeroExtreme .calendar table td.selectedDay .calendarValue {
    margin-left: 5px !important
}

#motorAeroExtreme .calendar table td.selectedDay .calendarDay {
    margin-top: 4px !important;
    height: 12px !important
}

#motorAeroExtreme .calendar table td.dayOfWeek {
    width: 48px;
    height: 36px;
    background-image: url(/images/motores/aereo/bg-day-of-week.png)
}

#motorAeroExtreme .calendar table td.dayOfWeek.selectedDay {
    background-image: url(/images/motores/aereo/bg-departure.png) !important
}

#motorAeroExtreme .calendar table td.stayDurationDay {
    background-image: url(/images/motores/aereo/bg-selected-day.png)
}

#motorAeroExtreme .calendar table td.dayOfWeek.endDate {
    background-image: url(/images/motores/aereo/bg-arrival.png) !important
}

#motorAeroExtreme .calendar table td.dayOfWeek.endDate .calendarDay {
    margin-right: 6px
}

#motorAeroExtreme .calendar .tbMonthAno {
    font: 700 15px Arial;
    color: #FFF;
    display: block;
    margin: -10px 0 11px 0;
    *position: relative
}

#motorAeroExtreme .calendar .tbMonthMes {
    font: 700 17px Arial;
    color: #c7e39a;
    display: block
}

#motorAeroExtreme .calendar .tbMonthValor {
    font: 17px Arial;
    color: #c7e39a;
    display: block
}

#motorAeroExtreme .calendar table .departure, #motorAeroExtreme .calendar table .arrival {
    width: 47px;
    height: 22px;
    position: absolute;
    top: 0
}

#motorAeroExtreme .calendar table .departure {
    left: 0;
    background-image: url(/images/motores/aereo/seta-ida.png)
}

#motorAeroExtreme .calendar table .arrival {
    right: 0;
    background-image: url(/images/motores/aereo/seta-volta.png)
}

#motorAeroExtreme .calendar .calendarDay {
    color: #09C;
    float: right;
    font: 10px Arial;
    height: 14px;
    margin-right: 4px
}

#motorAeroExtreme .calendar .calendarValue {
    font: 700 9px Arial;
    color: #00ADEF;
    height: 20px;
    clear: both;
    text-align: center;
    margin-left: 1px
}

#motorAeroExtreme .calendar .tit-mes {
    color: #299fc7;
    font: 700 10px Arial
}

#motorAeroExtreme .calendar span.spnMonthName {
    color: #7ca40f;
    display: block;
    font: bolder 13px Arial;
    text-align: center
}

#motorAeroExtreme .calendar #divMonthSummary {
    font: 14px Arial;
    height: 274px;
    width: 155px;
    float: left;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #33bdf2
}

#motorAeroExtreme .calendar #divMonthSummaryDates {
    border-top: 1px solid #09c;
    border-bottom: 1px solid #09c;
    float: left;
    width: 145px;
    padding: 5px;
    margin-top: 5px
}

#motorAeroExtreme .calendar .month-summary-price {
    float: left;
    padding: 5px
}

#motorAeroExtreme .calendar .summary-label {
    font-weight: 700
}

#motorAeroExtreme .calendar .month-summary-header {
    font-size: 15px;
    text-align: center;
    color: #ff3;
    font-weight: 700
}

#motorAeroExtreme .calendar .taxas-inclusas {
    font-size: 12px
}

#motorAeroExtreme .calendar .pesq-month-calendar {
    background: url(/images/motores/aereo/btPesquisar-extreme.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 28px;
    margin-top: 20px;
    text-indent: -9999px;
    width: 145px
}

#motorAeroExtreme .jqplot-target {
    position: relative;
    color: #666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em
}

.jqplot-axis {
    font-size: .75em
}

.jqplot-xaxis {
    margin-top: 10px
}

.jqplot-x2axis {
    margin-bottom: 10px
}

.jqplot-yaxis {
    margin-right: 10px
}

.jqplot-y2axis, .jqplot-y3axis, .jqplot-y4axis, .jqplot-y5axis, .jqplot-y6axis, .jqplot-y7axis, .jqplot-y8axis, .jqplot-y9axis {
    margin-left: 10px;
    margin-right: 10px
}

.jqplot-axis-tick, .jqplot-xaxis-tick, .jqplot-yaxis-tick, .jqplot-x2axis-tick, .jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick {
    position: absolute
}

.jqplot-xaxis-tick {
    top: 0;
    left: 15px;
    vertical-align: top
}

.jqplot-x2axis-tick {
    bottom: 0;
    left: 15px;
    vertical-align: bottom
}

.jqplot-yaxis-tick {
    right: 0;
    top: 15px;
    text-align: right
}

.jqplot-yaxis-tick.jqplot-breakTick {
    right: -20px;
    margin-right: 0;
    padding: 1px 5px;
    z-index: 2;
    font-size: 1.5em
}

.jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick {
    left: 0;
    top: 15px;
    text-align: left
}

.jqplot-meterGauge-tick {
    font-size: .75em;
    color: #999
}

.jqplot-meterGauge-label {
    font-size: 1em;
    color: #999
}

.jqplot-xaxis-label {
    margin-top: 10px;
    font-size: 11pt;
    position: absolute
}

.jqplot-x2axis-label {
    margin-bottom: 10px;
    font-size: 11pt;
    position: absolute
}

.jqplot-yaxis-label {
    margin-right: 10px;
    font-size: 11pt;
    position: absolute
}

.jqplot-y2axis-label, .jqplot-y3axis-label, .jqplot-y4axis-label, .jqplot-y5axis-label, .jqplot-y6axis-label, .jqplot-y7axis-label, .jqplot-y8axis-label, .jqplot-y9axis-label {
    font-size: 11pt;
    position: absolute
}

table.jqplot-table-legend {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid #ccc;
    position: absolute;
    font-size: .75em
}

td.jqplot-table-legend {
    vertical-align: middle
}

td.jqplot-seriesToggle:hover, td.jqplot-seriesToggle:active {
    cursor: pointer
}

td.jqplot-table-legend > div {
    border: 1px solid #ccc;
    padding: 1px
}

div.jqplot-table-legend-swatch {
    width: 0;
    height: 0;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid
}

.jqplot-title {
    top: 0;
    left: 0;
    padding-bottom: .5em;
    font-size: 1.2em
}

table.jqplot-cursor-tooltip {
    border: 1px solid #ccc;
    font-size: .75em
}

.jqplot-cursor-tooltip {
    border: 1px solid #ccc;
    font-size: .75em;
    white-space: nowrap;
    background: rgba(208, 208, 208, .5);
    padding: 1px
}

.jqplot-highlighter-tooltip {
    border: 1px solid #ccc;
    font-size: .75em;
    white-space: nowrap;
    background: rgba(208, 208, 208, .5);
    padding: 1px
}

.jqplot-point-label {
    font-size: .75em;
    z-index: 2
}

td.jqplot-cursor-legend-swatch {
    vertical-align: middle;
    text-align: center
}

div.jqplot-cursor-legend-swatch {
    width: 1.2em;
    height: .7em
}

.jqplot-error {
    text-align: center
}

.jqplot-error-message {
    position: relative;
    top: 46%;
    display: inline-block
}

div.jqplot-bubble-label {
    font-size: .8em;
    padding-left: 2px;
    padding-right: 2px;
    color: #333
}

div.jqplot-bubble-label.jqplot-bubble-label-highlight {
    background: rgba(230, 230, 230, .7)
}

div.jqplot-noData-container {
    text-align: center;
    background-color: rgba(245, 245, 245, .3)
}

#motorAeroExtreme .containerMonthPlot .jqplot-point-label {
    background: #009bd7;
    color: #fff;
    padding: 2px;
    font-size: 11px
}

#motorAeroExtreme .containerMonthPlot .jqplot-yaxis {
    font-size: 11px
}

#motorAeroExtreme .containerMonthPlot .jqplot-xaxis-tick {
    color: #11a2da
}

#motorAeroExtreme .containerMonthPlot .jqplot-xaxis-tick-selected {
    height: 34px;
    background: url(/images/motores/aereo/seta-tarifa.png) no-repeat scroll 50% 100%
}

#motorAeroExtreme .containerMonthPlot .jqplot-yaxis-tick {
    color: #247475;
    right: 0
}

#motorAeroExtreme .containerMonthPlot .jqplot-xaxis-tick, #motorAeroExtreme .containerMonthPlot .jqplot-point-label {
    font: 11px Arial
}

#motorAeroExtreme .containerMonthPlot .jqplot-event-canvas {
    cursor: pointer
}

#motorAeroExtreme .containerMonthPlot .bodyMonthPlot {
    background-color: #FFF;
    float: left;
    height: 250px;
    margin-top: 10px;
    width: 555px;
    padding-top: 20px
}

#motorAeroExtreme .containerMonthPlot {
    clear: both
}

#motorAeroExtreme .containerMonthPlot .headerMonthPlot {
    background-color: #009BD7;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    float: left;
    width: 555px
}

#motorAeroExtreme .containerMonthPlot .titleMonthPlot {
    font-size: 18px
}

#motorAeroExtreme .containerMonthPlot .spnShowMonthPlot {
    background: url(/images/motores/aereo/arrow-plot-down.png) no-repeat;
    cursor: pointer;
    height: 19px;
    margin-left: 10px;
    position: absolute;
    width: 19px
}

#motorAeroExtreme .containerMonthPlot .spnHideMonthPlot {
    background: url(/images/motores/aereo/arrow-plot-up.png) no-repeat;
    cursor: pointer;
    height: 19px;
    margin-left: 10px;
    position: absolute;
    width: 19px
}

#motorAeroExtreme .containerMonthPlot div#ContainerDestino {
    width: 425px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #009BD7;
    margin-top: 20px
}

#motorAeroExtreme .containerMonthPlot div.Box {
    float: left
}

#motorAeroExtreme .containerMonthPlot div.Box p {
    width: 100%;
    padding: 0
}

#motorAeroExtreme .containerMonthPlot div.Primeiro {
    background-color: #009BD7;
    height: 30px;
    margin: 0 auto;
    width: 155px;
    float: left
}

#motorAeroExtreme .containerMonthPlot div.Primeiro img {
    float: left;
    margin-top: 10px;
    margin-right: 3px;
    margin-left: 7px
}

#motorAeroExtreme .containerMonthPlot div.Primeiro p {
    color: #FFF;
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    margin-top: 6px;
    width: 125px
}

#motorAeroExtreme .containerMonthPlot div.Segundo span, #motorAeroExtreme .containerMonthPlot div.Terceiro p {
    color: #009bd7;
    font-family: Arial
}

#motorAeroExtreme .containerMonthPlot div.Segundo span {
    text-align: center;
    margin-top: -4px;
    font-weight: 700;
    font-size: 16px
}

#motorAeroExtreme .containerMonthPlot div.Segundo span.spnMonthPlotIataBanner {
    font-size: 10px;
    display: block
}

#motorAeroExtreme .containerMonthPlot div.Segundo {
    border-right: 1px solid #009BD7;
    height: 28px;
    margin-top: 1px;
    width: 100px;
    float: left
}

#motorAeroExtreme .containerMonthPlot div.Terceiro {
    width: 165px;
    height: 28px;
    margin: 0 auto;
    padding-top: 3px
}

#motorAeroExtreme .containerMonthPlot div.Terceiro p {
    text-align: left;
    margin-left: 5px;
    font-weight: 700
}

#motorAeroExtreme .containerMonthPlot div.Terceiro p, #motorAeroExtreme .containerMonthPlot div.Terceiro p span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0 5px
}

#motorAeroExtreme .containerMonthPlot div.Terceiro p span {
    color: #009BD7
}

#motorAeroExtreme .btn-extreme input {
    float: right
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70)
}

.dialog-passengers {
    background: 0 0;
    border: 0
}

.dialog-passengers .ui-widget-content {
    height: 250px !important;
    width: 550px !important;
    background-color: #fff;
    overflow: hidden;
    padding: 20px;
    border: 5px solid #009BD7;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
    color: #009BD7
}

.dialog-passengers .modal-title {
    background-color: #F2FAFD;
    font-size: 18px;
    height: 28px;
    width: 550px;
    float: left;
    padding-top: 4px;
    font-weight: 700
}

.dialog-passengers .passenger-container {
    float: left;
    margin-top: 40px
}

.dialog-passengers .box-passenger {
    float: left;
    height: 100px;
    width: 180px
}

.dialog-passengers .box-passenger .passenger-text {
    float: left;
    width: 180px;
    height: 20px;
    font-size: 16px;
    font-weight: 700
}

.dialog-passengers .box-passenger .passenger-description {
    font-size: 14px;
    float: left;
    width: 180px
}

.dialog-passengers .box-passenger .passenger-select {
    float: left;
    width: 180px;
    margin-top: 10px
}

.dialog-passengers .box-passenger .passenger-select select {
    padding: 7px 15px;
    width: 112px;
    font-size: 14px;
    height: 35px
}

.dialog-passengers .pesq-extreme-search {
    background: url(/images/motores/aereo/btcontinuar-extreme.png) no-repeat scroll 0 0 transparent;
    float: right;
    height: 31px;
    margin-top: 35px;
    width: 163px
}

.dialog-passengers .ui-dialog-titlebar {
    display: none !important
}

/*PESQ INC*/
.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 9999;
}

.ac_results ul {
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: hand;
    display: block;
    text-align: left !important;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    width: 100%;
    */
    font: menu;
    font-size: 12px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    /*background: white url('http://static5.submarinoviagens.com.br/css/css/images/indicator.gif') no-repeat right center;*/
}

.ac_over {
    background-color: #0A246A;
    color: white;
