<div class="SDSWidget SDSMapThemedDestinationFinderWidget" ng-if="isAnyDataToDisplayAvailable()">
    <!-- DO NOT use ng-show="isAnyDataToDisplayAvailable()", use ng-if: it is because you do not want map DOM do be created before model data are available.
    If you use ngShow (DOM is created), them later when you populated the model you would have to call refresh on map.
     See https://github.com/angular-ui/angular-google-maps/issues/76
     http://stackoverflow.com/questions/4700594/google-maps-displaynone-problem/8595674#8595674
     -->
    <div class="SDSMapTopLegend">
        <span class="SDSMapTopLegendElement" ng-repeat="(tier, tierPriceFrom) in model.priceTiersStatistics.tiersPricesFrom">
            <img ng-src="{{getTierIcon(tier)}}">
            from {{tierPriceFrom | currency:model.priceTiersStatistics.tiersPriceCurrency:0}}
        </span>
    </div>

    <div class="SDSMapContainer">
        <ui-gmap-google-map center='closestAirportGeoCoordinates'
                            zoom='initialZoom'
                            refresh="true">

            <ui-gmap-marker ng-repeat="destination in model.pricesForDestinationsGrouped track by destination.destination"
                            coords="destination.geoCoordinates"
                            idkey="destination.destination"
                            click="destination.offerShown = !destination.offerShown"
                            options="getMarkerOptions(destination.priceTier)"
                            events="markerEvents"
                            control="destination">
                <ui-gmap-window show="destination.shortDetailsShown && !destination.offerShown"
                                templateUrl="'../widgets/view-templates/partials/DestinationFinderOfferShortDetailsInfoView.tpl.html'"
                                templateParameter="destination"
                                closeClick="destination.shortDetailsShown = !destination.shortDetailsShown"
                                ng-cloak>
                </ui-gmap-window>
                <ui-gmap-window show="destination.offerShown"
                                templateUrl="'../widgets/view-templates/partials/DestinationFinderOfferDetailsInfoView.tpl.html'"
                                templateParameter="destination"
                                closeClick="destination.offerShown = !destination.offerShown"
                                ng-cloak>
                </ui-gmap-window>
            </ui-gmap-marker>

        </ui-gmap-google-map>
    </div>
</div>