<script type="text/ng-template" id="GeneralSearchCriteria">

    <div class="SDS-row" ng-if="isVisible('ADTPaxNumber') || isVisible('BagsRequested')">
        <div class="SDS-col-element-xxs-3" ng-if="isVisible('ADTPaxNumber')">
            <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.ADTPaxNumber.$invalid}">
                <label for="SDSSearchForm_ADTPaxNumber" class="input-sm control-label">Adults (12+)</label>
                <input id="SDSSearchForm_ADTPaxNumber" type="number" name="ADTPaxNumber" value="1" min="1" max="9" required class="form-control input-sm SDSPaxNbrInput" ng-model="generalSearchCriteria.ADTPaxCount">
            </div>
        </div>
        <div class="SDS-col-element-xxs-3" ng-if="isVisible('BagsRequested')">
            <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.bagsRequested.$invalid}">
                <label for="SDSSearchForm_BagsRequested" class="input-sm control-label">Bags</label>
                <select-bags id="SDSSearchForm_BagsRequested" name="BagsRequested" class="form-control input-sm" bags-requested="generalSearchCriteria.bagsRequested"></select-bags>
            </div>
        </div>
    </div>

    <div class="SDS-row">
        <div class="SDS-col-element-xxs-12">
            <div class="checkbox input-sm" ng-if="isVisible('DirectFlightsOnly')">
                <label for="SDSSearchForm_DirectFlightsOnly">
                    <input type="checkbox" name="DirectFlightsOnly" id="SDSSearchForm_DirectFlightsOnly" ng-model="generalSearchCriteria.DirectFlightsOnly">
                    Direct flights only
                </label>
            </div>

            <div class="checkbox input-sm" ng-if="isVisible('IsPlusMinus3DaysFlexible')">
                <label for="SDSSearchForm_IsPlusMinus3DaysFlexible">
                    <input type="checkbox" name="IsPlusMinus3DaysFlexible" id="SDSSearchForm_IsPlusMinus3DaysFlexible"
                           ng-model="flexDatesMode.activeMode"
                           ng-click="plusMinusConstantDateFlexibilityCheckboxClicked()"
                           ng-checked="flexDatesMode.activeMode === 'plusMinusConstantDaysFlexibility'">
                    I'm flexible +/- 3 days
                </label>
            </div>

        </div>
    </div>

    <div ng-if="flexDatesMode.isSelectableByAnyOf('plusMinusVariableDaysFlexibility', 'earliestDepartureLatestReturn.losDays', 'earliestDepartureLatestReturn.daysOfWeekAtDestination') && (tripType !== 'multiDestination')">
        <div class="SDSTopBuffer-xs SDSBottomBuffer-xs">
            <a href="" ng-click="isAdvancedDateFlexibilityCollapsed = !isAdvancedDateFlexibilityCollapsed;" class="input-sm SDSToggleLink">More travel dates flexibility options</a>
        </div>
        <div ng-if="isAdvancedDateFlexibilityCollapsed">
            <div class="SDS-row">
                <div class="radio input-sm" ng-if="flexDatesMode.isSelectableBy('plusMinusVariableDaysFlexibility')">
                    <label>
                        <input type="radio" name="advancedFlexibilitySelectionType" ng-model="flexDatesMode.activeMode" value="plusMinusVariableDaysFlexibility">
                        Different plus and minus days flexibility
                    </label>
                </div>

                <div class="radio input-sm" ng-if="flexDatesMode.isSelectableByAnyOf('earliestDepartureLatestReturn.losDays', 'earliestDepartureLatestReturn.daysOfWeekAtDestination') && (tripType === 'returnTrip')">
                    <label>
                        <input type="radio" name="advancedFlexibilitySelectionType" ng-model="flexDatesMode.activeMode" value="earliestDepartureLatestReturn.losDays">
                        Set earliest departure and latest return
                    </label>
                </div>
            </div>

            <div class="SDS-row" ng-if="flexDatesMode.activeMode === 'plusMinusVariableDaysFlexibility'">
                <plus-minus-days-selection days="advancedDateFlexibility.departureMinusDays" max-days="{{::plusMinusDaysMaxDays}}">Departure date minus days</plus-minus-days-selection>
                <plus-minus-days-selection days="advancedDateFlexibility.departurePlusDays" max-days="{{::plusMinusDaysMaxDays}}">Departure date plus days</plus-minus-days-selection>
                <plus-minus-days-selection days="advancedDateFlexibility.returnMinusDays" max-days="{{::plusMinusDaysMaxDays}}">Return date minus days</plus-minus-days-selection>
                <plus-minus-days-selection days="advancedDateFlexibility.returnPlusDays" max-days="{{::plusMinusDaysMaxDays}}">Return  date plus days</plus-minus-days-selection>
            </div>

            <div class="SDS-row" ng-if="flexDatesMode.activeMode === 'earliestDepartureLatestReturn.losDays' || flexDatesMode.activeMode === 'earliestDepartureLatestReturn.daysOfWeekAtDestination'">
                <div class="radio">
                    <div>
                        <label>
                            <input type="radio" name="advancedFlexibilityLoSSpecificationType" ng-model="flexDatesMode.activeMode" value="earliestDepartureLatestReturn.losDays" class="SDS-form-inline-exclude">
                            Specify trip duration
                        </label>
                        <div ng-if="flexDatesMode.activeMode === 'earliestDepartureLatestReturn.losDays'">
                            <select-lengths-of-stay value="lengthsOfStay.selected">Duration</select-lengths-of-stay>
                            Optionally specify also days of week for departure and return
                            <ul class="list-unstyled list-inline">
                                <li><select-days-of-week days-of-week="departureDaysOfWeek.selected"><div>Trip departure days</div></select-days-of-week></li>
                                <li><select-days-of-week days-of-week="returnDaysOfWeek.selected"><div>Trip return days</div></select-days-of-week></li>
                            </ul>
                        </div>
                    </div>

                    <div class="SDSTopBuffer-sm"></div>

                    <div>
                        <label>
                            <input type="radio" name="advancedFlexibilityLoSSpecificationType" ng-model="flexDatesMode.activeMode"
                                   value="earliestDepartureLatestReturn.daysOfWeekAtDestination">
                            Specify days of week to stay at destination
                        </label>
                        <div ng-if="flexDatesMode.activeMode === 'earliestDepartureLatestReturn.daysOfWeekAtDestination'">
                            <select-days-of-week days-of-week="daysOfWeekAtDestination.selected"></select-days-of-week>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- input field validation error messages -->
    <div class="SDS-row">
        <div class="TODO-6" ng-if="isVisible('ADTPaxNumber')">
            <div ng-show="searchForm.$submitted && searchForm.ADTPaxNumber.$invalid" class="has-error">
                <small class="help-block" ng-show="searchForm.ADTPaxNumber.$error.required">Specify number of passengers</small>
            </div>
        </div>
    </div>

    <div class="SDS-row" ng-if="isAnyOfVisible('PreferredAirline', 'PreferredCabin')">
        <div class="SDS-col-element-xxs-12 SDSTopBuffer-xs">
            <a href="" ng-click="detailsVisibility.areAdvancedSearchOptionsCollapsed = !detailsVisibility.areAdvancedSearchOptionsCollapsed" class="input-sm SDSToggleLink">Advanced search options</a>
        </div>
    </div>

    <div ng-if="detailsVisibility.areAdvancedSearchOptionsCollapsed" class="SDSBottomBuffer-xs">
        <div class="SDS-row">
            <div class="SDS-col-element-xs-6 SDS-col-element-lg-3" ng-if="isVisible('PreferredAirline')">
                <div class="form-group SDS-form-inline-exclude">
                    <label for="SDSSearchForm_PreferredAirline" class="input-sm control-label SDS-form-inline-exclude">Preferred Airline</label>
                    <select-multiple-airlines class="input-sm SDS-form-inline-exclude" id="SDSSearchForm_PreferredAirline"
                                               name="PreferredAirline" airlines="preferredAirlines"></select-multiple-airlines>
                    <!-- WARN: Lack of 'form-control' class is intentional. The component used in select preferred airline directive
                    - the angular ui-select, is already styled as bootstrap button. Wrapping it in form-control here breaks the style
                    (we get unnecessary wrapping. This issue is reported to ui-select and recognized as issue. No fix yet.  -->
                </div>
            </div>
            <div class="SDS-col-element-xs-6 SDS-col-element-lg-3" ng-if="isVisible('PreferredCabin')">
                <div class="form-group SDS-form-inline-exclude">
                    <label for="SDSSearchForm_PreferredCabin" class="input-sm control-label SDS-form-inline-exclude">Cabin</label>
                    <select-preferred-cabin name="PreferredCabin" class="form-control input-sm SDS-form-inline-exclude" id="SDSSearchForm_PreferredCabin" cabin-selected="generalSearchCriteria.preferredCabin"></select-preferred-cabin>
                </div>
            </div>
        </div>
    </div>

    <div class="SDS-row">
        <div class="SDS-col-element-xxs-12 SDSTopBuffer-xs">
            <a href="" ng-if="showDiversityOptions"
               ng-click="detailsVisibility.useDiversityModelOptions = !detailsVisibility.useDiversityModelOptions"
               class="input-sm SDSToggleLink">{{detailsVisibility.useDiversityModelOptions ? "Disable Diversity Swapper" : "Enable Diversity Swapper" }}</a>
        </div>
    </div>

    <div ng-if="showDiversityOptions && detailsVisibility.useDiversityModelOptions" class="SDSBottomBuffer-xs">
        <div class="SDSBottomBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Low Fare Bucket</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.lowFareBucket.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_LowFareBucket" class="input-sm control-label">Options</label>
                                </div>
                                <div class="input-group SDS-col-element-lg-6">
                                    <span class="input-group-addon">
                                        <input type="radio" name="lowFareBucketModeInput" ng-model="diversityModelOptions.lowFareBucketMode"
                                               value="{{diversityModelOptions.LowFareBucketModeEnum.OPTION}}">
                                    </span>
                                    <input id="SDSSearchForm_Diversity_LowFareBucket" class="input-sm form-control"
                                           name="lowFareBucket" ng-model="diversityModelOptions.lowFareBucket" ng-pattern="SDSValidator.NON_ZERO_POSITIVE_INTEGER_REGEX"
                                           ng-disabled="diversityModelOptions.lowFareBucketMode == diversityModelOptions.LowFareBucketModeEnum.FARE_CUT_OFF">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.fareCutOff.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_LowFareBucket" class="input-sm control-label">Fare Cut Off</label>
                                </div>
                                <div class="input-group SDS-col-element-lg-6">
                                    <span class="input-group-addon">
                                        <input type="radio" name="lowFareBucketModeInput" ng-model="diversityModelOptions.lowFareBucketMode"
                                               value="{{diversityModelOptions.LowFareBucketModeEnum.FARE_CUT_OFF}}">
                                    </span>
                                    <input id="SDSSearchForm_Diversity_FareCutOff" type="number" ng-min="1" ng-max="100" class="input-sm form-control"
                                           name="fareCutOff" ng-model="diversityModelOptions.fareCutOff" ng-pattern="SDSValidator.PERCENTAGE_VALUE_REGEX"
                                           ng-disabled="diversityModelOptions.lowFareBucketMode == diversityModelOptions.LowFareBucketModeEnum.OPTION" aria-describedby="options-addon-fare-cut-off">
                                    <span class="input-group-addon" id="options-addon-fare-cut-off">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="SDSBottomBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Price Options</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.priceWeight.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_PriceWeight" class="input-sm control-label">Weight</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_PriceWeight" type="number" class="input-sm form-control"
                                           name="priceWeight" ng-model="diversityModelOptions.priceWeight" min="0" max="10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="SDSBottomBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Travel Time Options</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.travelTimeWeight.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_TravelTimeWeight" class="input-sm control-label">Weight</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_TravelTimeWeight" type="number" min="0" max="10" class="input-sm form-control"
                                           name="travelTimeWeight" ng-model="diversityModelOptions.travelTimeWeight">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="SDSBottomBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Carrier Options</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.carrierWeight.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_CarrierWeight" class="input-sm control-label">Weight</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_CarrierWeight" type="number" min="0" max="10" class="input-sm form-control"
                                           name="carrierWeight" ng-model="diversityModelOptions.carrier.weight">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="checkbox input-sm">
                                <div class="SDS-col-element-lg-12">
                                    <label for="SDSSearchForm_DIversity_CarrierOnlineIndicator">
                                        <input id="SDSSearchForm_DIversity_CarrierOnlineIndicator" type="checkbox" name="carrierOnlineIndicator"
                                               ng-model="diversityModelOptions.carrier.onlineIndicator">
                                        Online Indicator
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="SDS-col-element-lg-3">
                        <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.carrierOption.$invalid}">
                            <label for="SDSSearchForm_Diversity_CarrierOption" class="input-sm control-label">Options</label>
                            <input id="SDSSearchForm_Diversity_CarrierOption" type="number" min="1" class="input-sm form-control"
                                   name="carrierOption" ng-model="diversityModelOptions.carrier.default.options">
                        </div>
                    </div>
                </div>
                <div ng-repeat="i in diversityModelOptions.carrier.override">
                    <div class="SDSBottomBuffer-xs"></div>
                    <div class="SDS-row">
                        <div class="SDS-col-element-lg-3">
                            <div class="SDS-row">
                                <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.overrideCarrierCode_{{$index}}.$invalid}">
                                    <div class="SDS-col-element-lg-6">
                                        <label for="SDSSearchForm_Diversity_OverrideCarrierCode_{{$index}}" class="input-sm control-label">Override Carrier Code</label>
                                    </div>
                                    <div class="SDS-col-element-lg-6">
                                        <select-airline id="SDSSearchForm_Diversity_OverrideCarrierCode_{{$index}}"
                                            name="overrideCarrierCode_{{$index}}" airline="diversityModelOptions.carrier.override[$index].code">
                                            class="input-sm">
                                        </select-airline>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="SDS-col-element-lg-3">
                            <div class="SDS-row">
                                <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.overrideCarrierOption_{{$index}}.$invalid}">
                                    <div class="SDS-col-element-lg-6">
                                        <label for="SDSSearchForm_Diversity_OverrideCarrierOption_{{$index}}" class="input-sm control-label">Override Carrier Option</label>
                                    </div>
                                    <div class="SDS-col-element-lg-6">
                                        <input id="SDSSearchForm_Diversity_OverrideCarrierOption_{{$index}}" type="number" min="1" class="input-sm form-control"
                                               name="overrideCarrierOption_{{$index}}" ng-model="diversityModelOptions.carrier.override[$index].options">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="SDS-col-element-xs-6 SDS-col-element-sm-3 SDS-col-element-lg-3" ng-show="$last">
                            <a href="" ng-click="diversityModelOptions.removeCarrierOverriding()" class="input-sm"><i class="glyphicon glyphicon-minus-sign"></i> Remove</a>
                        </div>
                    </div>
                </div>
                <div class="SDSBottomBuffer-xs"></div>
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <a href="" ng-click="diversityModelOptions.addCarrierOverriding()" class="input-sm"><i class="glyphicon glyphicon-plus-sign"></i> Add carrier overriding</a>
                    </div>
                </div>
                <div class="SDSTopBuffer-xs"></div>
            </div>
        </div>
        <div class="SDSBottomBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Operating Duplicate Options</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.operatingDuplicateWeight.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_OperatingDuplicateWeight" class="input-sm control-label">Weight</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_OperatingDuplicateWeight" type="number" min="0" max="10" class="input-sm form-control"
                                           name="operatingDuplicateWeight" ng-model="diversityModelOptions.operatingDuplicate.weight">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="SDS-col-element-lg-6">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.operatingDuplicatePreference.$invalid}">
                                <div class="SDS-col-element-lg-3">
                                    <label for="SDSSearchForm_Diversity_OperatingDuplicatePreference" class="input-sm control-label">Preference</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <select-multiple-airlines is-multiple-selection="true" id="SDSSearchForm_Diversity_OperatingDuplicatePreference"
                                                               name="operatingDuplicatePreference" airlines="diversityModelOptions.operatingDuplicate.preferredCarriers">
                                    </select-multiple-airlines>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="SDSBottomBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Inbound Outbound Pairing Options</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.inboundOutboundPairingWeight.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_InboundOutboundPairingWeight" class="input-sm control-label">Weight</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_InboundOutboundPairingWeight" type="number" min="0" max="10" class="input-sm form-control"
                                           name="inboundOutboundPairingWeight" ng-model="diversityModelOptions.inboundOutboundPairing.weight">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.inboundOutboundPairingDuplicates.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_InboundOutboundPairingDuplicates" class="input-sm control-label">Duplicates</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_InboundOutboundPairingDuplicates" type="number" min="1" class="input-sm form-control"
                                           name="inboundOutboundPairingDuplicates" ng-model="diversityModelOptions.inboundOutboundPairing.duplicates">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="SDSBottomBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Time of Day options</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.timeOfDay.weight.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_TimeOfDayWeight" class="input-sm control-label">Weight</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_TimeOfDayWeight" type="number" min="1" max="10" class="input-sm form-control"
                                           name="timeOfDayWeight" ng-model="diversityModelOptions.timeOfDay.weight">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SDSBottomBuffer-xs"></div>
                <div ng-repeat="i in diversityModelOptions.timeOfDay.distribution" ng-init="outerIndex = $index">
                    <div class="SDS-row">
                        <div class="SDS-col-element-lg-3">
                            <div class="SDS-row">
                                <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.timeOfDayDirection.$invalid}">
                                    <div class="SDS-col-element-lg-6">
                                        <label for="SDSSearchForm_Diversity_TimeOfDayDirection" class="input-sm control-label">Direction</label>
                                    </div>
                                    <div class="SDS-col-element-lg-6">
                                        <select id="SDSSearchForm_Diversity_TimeOfDayDirection" name="timeOfDayDirection"
                                                class="input-sm form-control" name="timeOfDayDirection" ng-model="diversityModelOptions.timeOfDay.distribution[outerIndex].direction"
                                                ng-options="option.description for option in diversityModelOptions.AvailableDirectionsEnum.values() track by option.id">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="SDS-col-element-lg-3">
                            <div class="SDS-row">
                                <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.timeOfDayEndpoint.$invalid}">
                                    <div class="SDS-col-element-lg-6">
                                        <label for="SDSSearchForm_Diversity_TimeOfDayEndpoint" class="input-sm control-label">Endpoint</label>
                                    </div>
                                    <div class="SDS-col-element-lg-6">
                                        <select id="SDSSearchForm_Diversity_TimeOfDayEndpoint" name="timeOfDayEndpoint"
                                                class="input-sm form-control" name="timeOfDayEndpoint" ng-model="diversityModelOptions.timeOfDay.distribution[outerIndex].endpoint"
                                                ng-options="option.description for option in diversityModelOptions.AvailableEndpointsEnum.values() track by option.id">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="j in diversityModelOptions.timeOfDay.distribution[outerIndex].range" ng-init="innerIndex = $index">
                        <div class="SDSBottomBuffer-xs"></div>
                        <div class="SDS-row">
                            <div class="SDS-col-element-lg-3">
                                <div class="SDS-row">
                                    <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.timeOfDayRangeBegin_{{outerIndex}}_{{innerIndex}}.$invalid}">
                                        <div class="SDS-col-element-lg-6">
                                            <label for="SDSSearchForm_Diversity_TimeOfDayRangeBegin_{{outerIndex}}_{{innerIndex}}" class="input-sm control-label">Range Begin</label>
                                        </div>
                                        <div class="SDS-col-element-lg-6">
                                            <timepicker-pop input-time="diversityModelOptions.timeOfDay.distribution[outerIndex].range[innerIndex].begin"
                                                            id="SDSSearchForm_Diversity_TimeOfDayRangeBegin_{{outerIndex}}_{{innerIndex}}"
                                                            name="timeOfDayRangeBegin_{{outerIndex}}_{{innerIndex}}" minute-step="30" show-meridian="false"
                                                            class="input-group" ng-model="diversityModelOptions.timeOfDay.distribution[outerIndex].range[innerIndex].begin">
                                            </timepicker-pop>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="SDS-col-element-lg-3">
                                <div class="SDS-row">
                                    <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.timeOfDayRangeEnd_{{outerIndex}}_{{innerIndex}}.$invalid}">
                                        <div class="SDS-col-element-lg-6">
                                            <label for="SDSSearchForm_Diversity_TimeOfDayRangeEnd__{{outerIndex}}_{{innerIndex}}" class="input-sm control-label">Range End</label>
                                        </div>
                                        <div class="SDS-col-element-lg-6">
                                            <timepicker-pop input-time="diversityModelOptions.timeOfDay.distribution[outerIndex].range[innerIndex].end"
                                                            id="SDSSearchForm_Diversity_TimeOfDayRangeEnd__{{outerIndex}}_{{innerIndex}}"
                                                            name="timeOfDayRangeEnd_{{outerIndex}}_{{innerIndex}}" minute-step="30" show-meridian="false"
                                                            class="input-group" ng-model="diversityModelOptions.timeOfDay.distribution[outerIndex].range[innerIndex].end">
                                            </timepicker-pop>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="SDS-col-element-lg-3">
                                <div class="SDS-row">
                                    <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.timeOfDayRangeOptions_{{outerIndex}}_{{innerIndex}}.$invalid}">
                                        <div class="SDS-col-element-lg-6">
                                            <label for="SDSSearchForm_Diversity_TimeOfDayOptions_{{outerIndex}}_{{innerIndex}}" class="input-sm control-label">Range Options</label>
                                        </div>
                                        <div class="SDS-col-element-lg-6">
                                            <div class="input-group">
                                                <input id="SDSSearchForm_Diversity_TimeOfDayOptions_{{outerIndex}}_{{innerIndex}}" type="number" min="1" max="100" class="input-sm form-control"
                                                       name="timeOfDayOptions__{{outerIndex}}_{{innerIndex}}" ng-model="diversityModelOptions.timeOfDay.distribution[outerIndex].range[innerIndex].options"
                                                       pattern="^[1-9][0-9]?$|^100$" aria-describedby="options-addon_{{outerIndex}}_{{innerIndex}}">
                                                <span class="input-group-addon" id="options-addon_{{outerIndex}}_{{innerIndex}}">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="SDS-col-element-xs-6 SDS-col-element-sm-3 SDS-col-element-lg-3" ng-show="$last && innerIndex > 0">
                                <a href="" ng-click="diversityModelOptions.removeLastRangeFromDistribution(outerIndex)" class="input-sm"><i class="glyphicon glyphicon-minus-sign"></i> Remove range</a>
                            </div>
                        </div>
                        <div class="SDSTopBuffer-xs"></div>
                        <div class="SDS-row" ng-if="$last && innerIndex < 3">
                            <div class="SDS-col-element-lg-3">
                                <a href="" ng-click="diversityModelOptions.addRangeToDistribution(outerIndex)" class="input-sm"><i class="glyphicon glyphicon-plus-sign"></i> Add more ranges</a>
                            </div>
                        </div>
                        <div class="SDSTopBuffer-xs"></div>
                    </div>
                    <div class="SDS-row" ng-if="$last">
                        <div class="SDS-col-element-lg-12">
                            <a href="" ng-click="diversityModelOptions.removeDistribution()" class="input-sm"><i class="glyphicon glyphicon-minus-sign"></i> Remove distribution</a>
                        </div>
                    </div>
                    <hr class="divider">
                </div>
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <!-- <hr class="divider">-->
                        <a href="" ng-click="diversityModelOptions.addDistribution()" class="input-sm"><i class="glyphicon glyphicon-plus-sign"></i> Add distribution</a>
                        <div class="SDSTopBuffer-xs"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="SDSTopBuffer-xs"></div>
        <div class="panel panel-default SDS-panel">
            <div class="panel-heading SDS-panel-heading">Number of Stops Options</div>
            <div class="panel-body SDS-panel-body">
                <div class="SDS-row">
                    <div class="SDS-col-element-lg-3">
                        <div class="SDS-row">
                            <div class="form-group SDS-form-inline-exclude" ng-class="{'has-error':searchForm.$submitted && searchForm.numberOfStopsWeight.$invalid}">
                                <div class="SDS-col-element-lg-6">
                                    <label for="SDSSearchForm_Diversity_NumberOfStopsWeight" class="input-sm control-label">Weight</label>
                                </div>
                                <div class="SDS-col-element-lg-6">
                                    <input id="SDSSearchForm_Diversity_NumberOfStopsWeight" type="number" min="1" max="10" class="input-sm form-control"
                                           name="numberOfStopsWeight" ng-model="diversityModelOptions.numberOfStopsWeight">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center SDSTopBuffer-xs">
        <button type="submit" class="SDS-hidden-sm btn btn-primary btn-lg btn-block">Search</button>
        <button type="submit" class="SDS-visible-sm-inline-block btn btn-primary btn-lg">Search</button>
    </div>

</script>

<div class="panel panel-default SDSWidget SDSResponsiveElement SDSSearchFormWidget" id="SDSSearchFormWidget_{{::widgetId}}">
    <div class="panel-body">
        <form>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="tripType" btn-radio="'returnTrip'">Return</label>
                <label class="btn btn-primary" ng-model="tripType" btn-radio="'oneWay'">One-way</label>
                <label class="btn btn-primary" ng-model="tripType" btn-radio="'multiDestination'">Multi-stop</label>
            </div>
        </form>

        <div ng-if="tripType === 'oneWay' || tripType === 'returnTrip'">
            <div class="SDSTopBuffer-xs"></div>
            <form class="SDS-form-xl-inline" name="searchForm" class="SDSTopBuffer-xs" novalidate ng-submit="searchForm.$valid && createNewSearchCriteria()">
                    <div class="SDS-row">
                        <div class="SDS-col-element-sm-3">
                            <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.Origin.$invalid}">
                                <label for="SDSSearchForm_Origin" class="input-sm control-label">Leaving from</label>
                                <input-airport id="SDSSearchForm_Origin" name="Origin" class="form-control input-sm" autofocus required airport="simpleTrip.Origin" selectable-airports-for-this-pos-only="{{selectableAirportsForThisPosOnly}}" selectable-airports-dictionary="{{selectableAirportsDictionary}}"></input-airport>
                            </div>
                            <div ng-show="searchForm.$submitted && searchForm.Origin.$invalid" class="has-error">
                                <small class="help-block" ng-show="searchForm.Origin.$error.required">Type origin airport or city</small>
                                <small class="help-block" ng-show="searchForm.Origin.$error.pattern">Please select airport or city from the suggested matchings</small>
                            </div>
                        </div>
                        <div class="SDS-col-element-sm-3">
                            <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.Destination.$invalid}">
                                <label for="SDSSearchForm_Destination" class="input-sm control-label">Going to</label>
                                <input-airport id="SDSSearchForm_Destination" name="Destination" class="form-control input-sm" required airport="simpleTrip.Destination" selectable-airports-for-this-pos-only="{{selectableAirportsForThisPosOnly}}" selectable-airports-dictionary="{{selectableAirportsDictionary}}"></input-airport>
                            </div>
                            <div  ng-show="searchForm.$submitted && searchForm.Destination.$invalid" class="has-error">
                                <small class="help-block" ng-show="searchForm.Destination.$error.required">Type destination airport or city</small>
                                <small class="help-block" ng-show="searchForm.Destination.$error.pattern">Please select airport or city from the suggested matchings</small>
                            </div>
                        </div>
                        <div class="SDS-col-element-sm-3">
                            <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.DepartureDate.$invalid}" ng-if="!flexDatesMode.isEarliestDepartureLatestReturnActive() && loadDeferredElements">
                                <label for="SDSSearchForm_DepartureDate"
                                       class="input-sm control-label">
                                    Leaving on
                                </label>
                                <input-date class="input-group input-group-sm SDSDateInput" id="SDSSearchForm_DepartureDate" name="DepartureDate" required="true"
                                            ng-model="simpleTrip.DepartureDate" on-date-change="onDepartureDateChange()" min-date="earliestTravelStart">
                                </input-date>
                                <div ng-show="searchForm.$submitted && searchForm.DepartureDate.$invalid" class="has-error">
                                    <small class="help-block" ng-show="searchForm.DepartureDate.$error.required">Choose departure date</small>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.EarliestDepartureDate.$invalid}" ng-if="flexDatesMode.isEarliestDepartureLatestReturnActive() && loadDeferredElements">
                                <label for="SDSSearchForm_EarliestDepartureDate"
                                       class="input-sm control-label">
                                    Earliest departure
                                </label>
                                <input-date class="input-group input-group-sm SDSDateInput" id="SDSSearchForm_EarliestDepartureDate" name="EarliestDepartureDate" required
                                            ng-model="simpleTrip.EarliestDepartureDate" on-date-change="onEarliestDepartureDateChange()" min-date="earliestTravelStart">
                                </input-date>
                                <div ng-show="searchForm.$submitted && searchForm.EarliestDepartureDate.$invalid" class="has-error">
                                    <small class="help-block" ng-show="searchForm.EarliestDepartureDate.$error.required">Set earliest departure date</small>
                                </div>
                            </div>
                        </div>
                        <div class="SDS-col-element-sm-3">
                            <div class="form-group" ng-show="tripType === 'returnTrip'" ng-class="{'has-error':searchForm.$submitted && searchForm.ReturnDate.$invalid}" ng-if="!flexDatesMode.isEarliestDepartureLatestReturnActive() && loadDeferredElements">
                                <label for="SDSSearchForm_ReturnDate"
                                       class="input-sm control-label"
                                       ng-class="{'SDSDisabledLabel':advancedFlexibilitySelection.type === 'earliestDepartureLatestReturn'}">
                                    Returning on
                                </label>
                                <input-date class="input-group input-group-sm SDSDateInput" id="SDSSearchForm_ReturnDate" name="ReturnDate" required="true"
                                            ng-model="simpleTrip.ReturnDate" on-date-change="onReturnDateChange()" min-date="earliestTravelStart">
                                </input-date>
                                <div ng-show="searchForm.$submitted && searchForm.ReturnDate.$invalid" class="has-error">
                                    <small class="help-block" ng-show="searchForm.ReturnDate.$error.required">Choose return date</small>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':searchForm.$submitted && searchForm.LatestReturnDate.$invalid}" ng-if="tripType === 'returnTrip' && flexDatesMode.isEarliestDepartureLatestReturnActive() && loadDeferredElements">
                                <label for="SDSSearchForm_LatestReturnDate" class="input-sm control-label">Latest return</label>
                                <input-date class="input-group input-group-sm SDSDateInput" id="SDSSearchForm_LatestReturnDate" name="LatestReturnDate" required
                                            ng-model="simpleTrip.LatestReturnDate" on-date-change="onLatestReturnDateChange()" min-date="earliestTravelStart">
                                </input-date>
                                <div ng-show="searchForm.$submitted && searchForm.LatestReturnDate.$invalid" class="has-error">
                                    <small class="help-block" ng-show="searchForm.LatestReturnDate.$error.required">Set latest return date</small>
                                </div>
                            </div>
                        </div>
                    </div>

                <ng-include src="'GeneralSearchCriteria'"></ng-include>

            </form>
        </div>


        <div ng-if="tripType === 'multiDestination'">
            <div class="SDSTopBuffer-xs"></div>
            <form class="SDS-form-xl-inline" name="searchFormMultiDestination" class="SDSTopBuffer-xs" novalidate ng-submit="searchFormMultiDestination.$valid && createNewSearchCriteria()">

                <div ng-repeat="i in multiDestinationLegs">
                    <div class="SDS-row">
                        <div class="SDS-col-element-xs-6 SDS-col-element-sm-3">
                            <div class="form-group" ng-class="{'has-error':searchFormMultiDestination.$submitted && searchFormMultiDestination.Origin_{{$index}}.$invalid}">
                                <label for="SDSSearchForm_Origin_{{$index}}" class="input-sm control-label">Leaving from</label>
                                <input-airport id="SDSSearchForm_Origin_{{$index}}" name="Origin_{{$index}}" class="form-control input-sm" ng-focus="$first" required airport="multiDestinationLegs[$index].Origin" selectable-airports-for-this-pos-only="{{selectableAirportsForThisPosOnly}}" selectable-airports-dictionary="{{selectableAirportsDictionary}}"></input-airport>
                            </div>
                            <div ng-show="searchFormMultiDestination.$submitted && searchFormMultiDestination.Origin_{{$index}}.$invalid" class="has-error">
                                <small class="help-block" ng-show="searchFormMultiDestination.Origin_{{$index}}.$error.required">Type origin airport or city</small>
                                <small class="help-block" ng-show="searchFormMultiDestination.Origin_{{$index}}.$error.pattern">Please select airport or city from the suggested matchings</small>
                            </div>
                        </div>

                        <div class="SDS-col-element-xs-6 SDS-col-element-sm-3">
                            <div class="form-group" ng-class="{'has-error':searchFormMultiDestination.$submitted && searchFormMultiDestination.Destination_{{$index}}.$invalid}">
                                <label for="SDSSearchForm_Destination_{{$index}}" class="input-sm control-label">Going to</label>
                                <input-airport id="SDSSearchForm_Destination_{{$index}}" name="Destination_{{$index}}" class="form-control input-sm" required airport="multiDestinationLegs[$index].Destination" selectable-airports-for-this-pos-only="{{selectableAirportsForThisPosOnly}}" selectable-airports-dictionary="{{selectableAirportsDictionary}}"></input-airport>
                            </div>
                            <div ng-show="searchFormMultiDestination.$submitted && searchFormMultiDestination.Destination_{{$index}}.$invalid" class="has-error">
                                <small class="help-block" ng-show="searchFormMultiDestination.Destination_{{$index}}.$error.required">Type destination airport or city</small>
                                <small class="help-block" ng-show="searchFormMultiDestination.Destination_{{$index}}.$error.pattern">Please select airport or city from the suggested matchings</small>
                            </div>
                        </div>

                        <div class="SDS-col-element-xs-6 SDS-col-element-sm-3">
                            <div class="form-group" ng-class="{'has-error':searchFormMultiDestination.$submitted && searchFormMultiDestination.DepartureDate_{{$index}}.$invalid}">
                                <label for="SDSSearchForm_DepartureDate_{{$index}}" class="input-sm control-label">Leaving on</label>
                                <input-date class="input-group input-group-sm SDSDateInput" id="SDSSearchForm_DepartureDate_{{$index}}" name="DepartureDate_{{$index}}" required="true"
                                            ng-model="multiDestinationLegs[$index].DepartureDate" min-date="earliestTravelStart">
                                </input-date>
                            </div>
                            <div ng-show="searchFormMultiDestination.$submitted && searchFormMultiDestination.DepartureDate_{{$index}}.$invalid" class="has-error">
                                <small class="help-block" ng-show="searchFormMultiDestination.DepartureDate_{{$index}}.$error.required">Choose departure date</small>
                            </div>
                        </div>
                        <div class="SDS-col-element-xs-6 SDS-col-element-sm-3" ng-show="$last && $index > 2">
                            <a href="" ng-click="removeLastSearchCriteriaLeg()" class="input-sm"><i class="glyphicon glyphicon-minus-sign"></i> Remove</a>
                        </div>
                    </div>

                    <div ng-if="$last">
                        <a href="" ng-click="addNextSearchCriteriaLeg()" class="input-sm"><i class="glyphicon glyphicon-plus-sign"></i> Add more flights</a>
                        <div class="SDSTopBuffer-xs"></div>
                    </div>

                </div>

                <ng-include src="'GeneralSearchCriteria'"></ng-include>
            </form>
        </div>

    </div>
</div>