<div class="SDSWidget SDSThemedDestinationFinderWidget SDSResponsiveElement" ng-show="isAnyDataToDisplayAvailable()">
    <div class="SDSThumbnailsContainer">
        <div class="SDS-row">
            <div class="SDS-col-element-md-6 SDS-col-element-xl-4 SDS-col-element-4xl-3"
                 ng-repeat="offersForOneDestination in model.pricesForDestinationsGrouped track by $index">
                <div href="#" class="thumbnail">
                    <div class="SDSAspectRatioEnforcer"
                         style="background-image: url('../widgets/img/destinations/{{offersForOneDestination.destination}}.jpg'), url('../widgets/img/destinations/general_city.jpg')">
                    </div>
                    <div class="caption">
                        <strong class="pull-left SDSCityLabel SDSHideOverflow">
                            {{offersForOneDestination.destination | cityFullName}}
                        </strong>
                        <strong class="pull-right text-right SDSPriceLabel SDSHideOverflow">
                            from {{offersForOneDestination.lowestFare.amount | currency:offersForOneDestination.lowestFare.currency}}
                        </strong>
                        <div class="clearfix"></div>
                        <span class="pull-right">
                            <a href="">
                               <!--popover-template="'DestinationFinderOfferDetailsPopover'">-->
                                Show flights
                            </a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<script type="text/ng-template" id="DestinationFinderOfferDetailsPopover">-->
    <!--<ul class="list-inline list-unstyled">-->
        <!--<li ng-repeat="offer in offersForOneDestination.offers">-->
            <!--{{offer.LowestFare.AirlineCodes[0]}} {{model.originForPricesForDestinations}} - {{offer.DestinationLocation}} {{offer.DepartureDateTime}}-{{offer.ReturnDateTime}} from {{offer.LowestFare.Fare | currency:offer.CurrencyCode}}-->
        <!--</li>-->
    <!--</ul>-->
<!--</script>-->